[2020-08-14 22:52] aclement opened #9 "Review/port performance enhancements proposed in bugzilla issue"
See https://bugs.eclipse.org/bugs/show_bug.cgi?id=565450 which includes the patch.

[2020-09-11 01:41] kriegaex opened #20 "Compilation errors for native AspectJ keywords enclosed in parentheses"
I found this at https://stackoverflow.com/q/63804177/1082681.

Trying to compile

[code]

leads to a compilation error in AJ 1.9.6:

[code]

Removing the redundant braces around `(before)` fixes the problem. The same sample code compiles fine with Javac. I am not sure if this is an Ejc or Ajc problem, I did not double-check.

[2020-09-11 18:43] aclement commented on #20
Yeah, there are some nuances in how variables named after AspectJ keywords are handled and we don't have the test coverage.  Place to look at the issue is the java.g in here: https://github.com/eclipse/org.aspectj.shadows/blob/aj_19/org.eclipse.jdt.core/grammar/java.g (so not in this project).

It will be incorrect use of the NameOrAj or SimpleNameOrAj entries I think.

[2020-09-12 00:00] kriegaex commented on #20
Oh right, `before` is a keyword in native AspectJ syntax! _clicking sound in my mind_

This repository must be really old, mentioning difficult 3-way merges with CVS. 😉 Thanks to Git 3-way merges should be much less painful now, at least I hope so for you.

[2020-10-19 01:10] kriegaex opened #24 "Array type reference not working when aspect is compiled separately from referenced type"
I have found [StackOverflow question #64416863](https://stackoverflow.com/q/64416863/1082681) and can reproduce the author's problem with AspectJ 1.9.6. I further simplified the code a bit to now read:

[code]

[code]

When compiling everything together, it works as expected:
[code]

When compiling the aspect separately however, the second advice unexpectedly intercepts target method `f1`:
[code]

[2020-10-19 01:20] kriegaex commented on #24
BTW, when modifying the aspect like this experimentally

[code]

now both advices match both methods, i.e. the absolute type name as such does not seem to be the (only) problem. This is true for both compiling the aspect separately or together with the target class. The program output will be:

[code]

There seems to be some imprecision with pointcut parsing in this case.

[2020-11-01 04:06] kriegaex opened #25 "Advice precedence within a single aspect"
Lately I was dealing with an [SO question about precedence](https://stackoverflow.com/q/64593940/1082681). When reviewing the [corresponding AspectJ manual section](http://www.eclipse.org/aspectj/doc/next/progguide/semantics-advice.html#d0e6257) in order to improve my [extensive answer](https://stackoverflow.com/a/40071281/1082681) (please read) to [this older SO question](https://stackoverflow.co

[2020-11-02 06:11] cdalexndr opened #26 "LinkageError runtime weaving hotswap agent"
On hotswap I get some linkage errors like:
[code]

DCEVM 11.0.9
Hotswap agent 1.4.1
Aspectj 1.9.6

[2020-11-04 08:12] kriegaex commented on #25
Andy, I have published my little [simulator toy](https://github.com/kriegaex/AJ_AdvicePrecedenceGraph). Just clone it and play with it.

It already simulates three different aspects, each with 3 different sets of precedence rules. In `AspectJAdvicePrecedenceSimulator.main` just change the variable `boolean visualiseGraph` in order to use the graphical mode or not in addition to the console log. By

[2020-11-11 02:33] kriegaex commented on #25
@aclement, according to our agreement I am posting parts of our private conversation here for the record:

Andy Clement wrote:

[2020-12-21 13:57] jdgenerix opened #28 "Improvement : avoiding Exception catching on BasicTokenSource"
Hi,
I've noticed that org.aspectj.weaver.patterns.BasicTokenSource is using try catch(ArrayIndexOutOfBoundsException) to handle the end of the token list. Creating an exception is known as a costly operation. I suggest to test the index first.

Regards,
Julien

[code]

[2021-01-19 01:28] kriegaex commented on #24
Some feedback from a maintainer would be welcome. Thank you.

[2021-01-19 23:26] aclement commented on #24
Not sure what I can say, looks like a bug as you say. Maybe in parsing of point cuts (`PatternParser`), maybe in how array information is remembered (`TypePattern` hierarchy), maybe how matching of type patterns is done (`TypePattern.matches*`).

[2021-02-08 05:38] LifeIsStrange commented on #9
Any update? This seems like a potentially big improvement

[2021-02-09 00:09] aclement commented on #9
Unfortunately haven't had time to do it, but if someone wants to turn it into a PR with maybe a system property to control the behaviour, that would be a likely way for it to go in with limited testing (so by default you get todays behaviour, but switch on a property and this feature could be tested out).

[2021-02-16 15:54] tyemirov opened #30 "AspectJ does not compile when Immutables are used"
I was unable to use [Immutables](https://github.com/immutables) and AspectJ's aspectj-maven-plugin in a single module. I have tried on-time and binary weaving but with no luck.

I have created a repo to demonstrate the issue: https://github.com/temirov/aspectj-immutables

When trying to compile, there is first a warning and then an NPE error:

[code]

I have also opened an [issue](https://github.c

[2021-02-18 16:04] tyemirov commented on #30
The way to fix it is to exclude immutables sources, see [this PR](https://github.com/temirov/aspectj-immutables/pull/1) for the details

[2021-02-18 16:04] #30 closed, assigned to nobody

[2021-02-28 11:30] eli-fin opened #31 "Java 15 support and v1.9.7 release date"
Hi,

1. As of now, the latest release is 1.9.6, which supports Java 14. When will support for Java 15 be available?
2. In general, how long does it take AspectJ to support a new Java version?
3. When is the release of 1.9.7 planned for?

Thanks

[2021-03-05 22:22] aclement commented on #31
Hey,

I'm not sure on the timeframe for Java 15 - do you need something specific out of Java15? Or just generally want to be on the latest? Given the rapid speed of Java releases now it is hard to keep up.

The timeframe following a version can vary a lot. Someone right now is trying to help automate the process to speed it up - currently it is very manual, when it could really be within hours/day

[2021-03-08 15:04] eli-fin commented on #31
Was just asking in general. I haven't found anything specific not supported in Java 15.
Thanks for the answer.

[2021-03-08 15:04] #31 closed, assigned to nobody

[2021-03-10 21:55] aclement commented on #28
Want to submit a PR for that?

[2021-03-26 06:40] kriegaex opened #40 "Eliminate binaries from Git repository"
**Situation:** In AspectJ we have the `lib` folder with several binary and source JARs (mostly old legacy versions) and a full (unpacked) Ant 1.6.3 installation. Futhermore there is the modified version of JDT Core, created in the separate "shadows" project and copied into the AspectJ folder by an Ant script from there.

**Goal:** We should get rid of those binaries and instead modify the Maven bu

[2021-03-26 06:45] kriegaex commented on #40
The first thing I did was to create SHA-1 checksums of all JAR and ZIP files in 'libs' and then use the Maven Central search API in order to search for existing artifacts matching those checksums. Any match would prove that the corresponding artifact is available on Maven Central.

This is the script I used:

[code]

[2021-03-26 07:00] kriegaex commented on #40
Here is the compiled result (I shortened the output in order to just contain the information we are interested in here):

[code]

We see many artifacts available on Maven Central, but also quite a few missing ones. Let us talk about them step by step as I find out more.

[2021-03-26 07:26] kriegaex commented on #40
When searching the code base for all POMs containing something like

[code]

I find the following unique ones:

[code]

I.e. we see Maven dependencies on
  * 4 libraries from the Ant distribution (more about Ant in the next comment, stay tuned) which are all available on Maven Central,
  * a version of ASM also available on Maven Central with package names relocated to `aj.org.objectweb`, which we

[2021-03-26 08:04] kriegaex commented on #40
The `libs/ant` directory is special insofar as it contains a full Ant installation consisting of binaries, shell scripts, text files and JARs. More precisely, it contains Ant 1.6.3.

In addition to that, the directory contains
  * a home-brew source ZIP for Ant,
  * an AspectJ-specific read-me file,
  * a copy of the JUnit 3.8.1 named `lib/junit/junit.jar` which is absolutely identical to `lib/jun

[2021-03-27 23:35] aclement commented on #40
How about we get rid of ant

[2021-04-10 06:17] kriegaex commented on #40
That is a bigger job, because many tests run Ant builds and we would have to replace `AntSpec` by a new `MavenSpec` and then refactor all test specifications using `<ant />` to use the hypothetical `<maven/ >` instead. But that is not all, because each of those tests refers to an actual Ant _build.xml_ which would also have to be replaced.

Right now I do not feel so inclined to do that on my own.

[2021-04-10 06:36] kriegaex commented on #40
I think I have reached a stage in #41 where we could think about merging. I managed to get rid of all system-scoped dependencies and several `lib` subdirectories:
  * `lib/ant`: Downloaded incl. source code and unzipped exactly to the state it was in before, even copying over the redundant JUnit library from `lib/junit`.
  * `lib/asm`: Transformed into a separate Maven module which has the AspectJ

[2021-04-10 06:43] kriegaex commented on #40
The new `lib/pom.xml` is a separate Maven module which has the AspectJ parent as its parent, too, but is not a `<module>`. It builds separately. After cloning a fresh copy of AspectJ, this module has to be built once via `cd lib && mvn compile`. It will download and install all missing files expected to be in the `lib` folder. After that, can be built AspectJ normally. In case a developer forgets

[2021-04-10 13:36] kriegaex commented on #40
Update:
  * `lib/docbooks`: Two libraries as well as docbooks-xsl and docbooks-dtd distributions - all needed to generate AspectJ HTML documentation from DocBook sources - are now downloaded dynamically, i.e. the whole folder is completely obsolete in the SCM and was deleted.

I.e. as of now only these folders are still remaining and to be investigated with regard to being needed (at all and where

[2021-04-26 04:43] #40 closed, assigned to nobody

[2021-04-26 04:47] kriegaex commented on #40
The stuff mentioned in my previous comment is still in the SCM due to lack of feedback. So there is still some work left, eliminating stuff which we pssibly do not need in the SCM. Maybe I am going to fork off another issue for it.

[2021-04-26 04:50] kriegaex opened #43 "Eliminate remaining binaries from Git repository"
This is a follow-up on #40. Status quo, copied from https://github.com/eclipse/org.aspectj/issues/40#issuecomment-817138037:

After #41 was merged, only these folders are still remaining and to be investigated with regard to being needed (at all and where exactly) and how to replace the contained binaries by downloads:
  * `lib/aspectj/lib`
  * `lib/bcel`
  * `lib/build`
  * `lib/test`

@aclement,

[2021-04-29 09:58] frode-carlsen opened #45 "Support for java 16 / asm 9.1"
Any chance there'll be a new release soon that supports java 16?  Because asm is bundled inside the aspectjweaver jar, tools that rely on aspectjweaver for instrumentation fails, and there's no easy way to replace.

(we're in the process of migrating numerous applications and micro-services forward from 11->16 in preparation for the LTS release coming soon, and this is our final hurdle.

[2021-04-29 19:29] aclement commented on #45
I believe there are snapshots available for Java16 (@kriegaex can give you the snippet of maven for where). The release based on this is due quite soon (not months).

[2021-04-30 00:00] kriegaex commented on #45
* http://aspectj.2085585.n4.nabble.com/AspectJ-AJDT-AspectJ-Maven-development-versions-for-Java-16-available-td4652803.html
* https://github.com/eclipse/org.aspectj/pull/41#issuecomment-826066012

[2021-04-30 13:03] frode-carlsen commented on #45
😃 Great! Think I'll hold off until the release then

[2021-04-30 13:13] kriegaex commented on #45
Why is that? Feedback before the release would be much more helpful than afterwards, and then you either have to wait for a bugfix release that might take a while, depending on how busy we are with our daytime jobs, or live with a bug. Please help us help you. If this is about your internal releases being unable to include snapshots, I can prepare a fixed version number, something containing beta,

[2021-05-06 19:24] abolfazl-sh opened #47 "pointcut on the If() statements"
Hi.
does it possible pointcut on If() statements?
for example we have below code :

[code]

as we can see always second( if(j==20)) run.
does it possible to write an aspect which every time any condition was true do something(in this example the second condition(if(j==20)) is true so print the line of code.

[2021-05-06 22:36] aclement commented on #47
That kind of setup is unfortunately not a join point upon which you can match with a point cut. If it were more like:

[code]
then that is a call to the method equals which can be identified (something like `call(* equals(..)) && withincode(* main(..))`). Or if it was:
[code]
A similar call point cut could catch it, but the pure `==` is hard to identify and match based on how it manifests in the b

[2021-05-07 05:56] frode-carlsen commented on #45
a fixed beta would be useful, we can try that out

[2021-05-17 08:44] Yuganka opened #54 "Unable to load class 'org.aspectj.bridge.MessageHandler' when creating a gradle plugin"
I'm using `aspectjtools` and `aspectjrt` to create an AOP library for android - [Bernoulli.](https://github.com/Yuganka/Bernoulli) The library is working as expected.

I then decided to create my own plugin to hide the following from my end user -

[code]

The `build.gradle` of the plugin -

[code]
The code compiles, the jar is created and I am able to publish it to `mavenLocal`.

Then, when I use

[2021-05-17 09:09] #54 closed, assigned to nobody

[2021-05-24 00:51] aclement opened #57 "Publish AspectJ such that it is installable via sdkman"

[2021-05-25 03:08] kriegaex commented on #45
I just remembered your request. Sorry to reply late, but just in case you are not subscribed to the AspectJ users mailing list: We have a milestone release out on Maven Central:

https://www.eclipse.org/lists/aspectj-users/msg15508.html

@frode-carlsen, I hope this serves your purpose. Please be so kind as to close the issue, I do not have the necessary rights here (yet).

[2021-05-25 06:42] frode-carlsen commented on #45
Great, thanks!

I've tried it out.
Not quite there yet- we're using htis with the Allure Framework (https://docs.qameta.io/allure/#_junit_5) and upgrading from Java15/Aspectjweaver1.9.6 to Java16/Aspectjweaver1.9.7.M2 it fails to run properly.

Not sure if ths is due to a problem with backwards compatibility or a problem in the allure imlementation, but I've opened an issue there https://github.co

[2021-05-25 06:53] kriegaex commented on #45
Actually, AspectJ 1.9.6 does not support Java 15, only 14. Only 1.9.7 supports both 15 and 16. Actually, your Allure issue suffers from lack of reproducibility. If you can create an [MCVE](https://stackoverflow.com/help/mcve), I will take a look. Maybe there is a dependency management glitch, maybe you hit a real error. But the AspectJ part looks good, because your ASM error is gone, i.e. the ASM

[2021-05-25 14:12] frode-carlsen commented on #45
Ok, here are my results
* 1.9.6 + Java 15 + Allure 2.14.0 ->OK
* 1.9.7.M2 + Java 15 + Allure 2.14.0 -> OK
* 1.9.7.M2 + Java 16 + Allure 2.14.0 -> fails to discover tests.

[2021-05-25 16:00] kriegaex commented on #45
Are you seeing any exceptions anywhere? BTW, I almost forgot, there is an aspect weaving issue when running on JDK 16, see the commit comment at https://github.com/eclipse/org.aspectj/commit/79e44360cd95b14fa255daaac069f9b76c488451. We activated JVM command line parameter `--add-opens java.base/java.lang=ALL-UNNAMED` when running on Java 16. This happens automatically in our build, so I forgot abo

[2021-05-25 19:51] frode-carlsen commented on #45
The above JVM command line parameter  doesn't make any difference.

It seems to happen when a module compiled for java 16 imports records compiled under java 15 and it tries to add an aspect around a method invocation (see MyTest).

I've managed to create a smaller MVCE. but it's a bit tricky to run.
To reproduce, the "dto" module in the following must be compiled with jdk 15, and the mvce module

[2021-05-26 00:45] kriegaex commented on #45
I did not try your MCVE, because from your description I can tell you that probably you do not have an AspectJ problem at all, it is simply how **JDK preview features** work. You cannot run code compiled on a JDK using preview features on a JDK version other than the one used for compilation. Records were in preview on JDK 15, then final on 16. Here is some proof, simply using _javac_, no _ajc_ in

[2021-05-26 01:11] kriegaex commented on #45
OK, I tried your MCVE. After having built `dto` on JDK 15, switch to JDK 16 and simply run Maven with `-e` in order to display stack traces:

[code]

There you have it. Just like in my _javac_ example before. Quod erat demonstrandum. 😉

---

P.S.: When trying to build module `dto` on JDK 16, trying to use JDK 15 target + preview features, Maven actually tells you that this is a "no-no":

[code]

[2021-05-26 03:52] kriegaex opened #60 "Binary weaving option to avoid writing unwoven classes to target directory"
As a developer using post-compile weaving (a.k.a. binary weaving), I want to optionally only write aspect-woven classes to the output directory, not unmodified ones.

Use cases:
  * Modifying a (small) subset of third-party library classes, I simply want to see in the output directory, which classes were actually affected (hence changed) by aspect weaving, e.g. if I use ITD on classes implementing

[2021-05-26 04:25] frode-carlsen commented on #45
Great, thanks for all help.  Learnt something new

The Java 15 with preview came from a library, so did not trigger the compilation error, but the JRE perhaps could have done at runtime?

[2021-05-26 04:25] #45 closed, assigned to nobody

[2021-05-26 04:27] kriegaex commented on #45
It does, see my previous comment. Just Maven did not display the full stack trace by default.

[2021-05-26 04:28] frode-carlsen commented on #45
👍 Should've known. It was staring us in the face the whole time.  The build hadn't enabled the -e switch

[2021-05-26 04:32] kriegaex commented on #45
Don't worry, I am happy to help. An [MCVE](https://stackoverflow.com/help/mcve) is always useful, BTW. I stopped counting how many dozen times I said that to people on StackOverflow already. So thanks for providing one. That made it super easy to confirm the root cause. 🙂

[2021-05-26 06:05] frode-carlsen commented on #45
🙂 Thanks again for your help and time.  Now everything works like a charm with the latest beta.

[2021-05-27 09:34] bmarwell opened #61 "Test on Eclipse OpenJ9 JVM"
Hi,

the current build matrix does not include [your own JVM implementation "OpenJ9"](https://www.eclipse.org/openj9/): https://github.com/eclipse/org.aspectj/blob/520ed7b623263927b30fe1898b36f411490ba34d/.github/workflows/maven.yml#L18-L19

Eclipse OpenJ9 is a great VM and differs in some details, while still being certified. I suggest to add at least the OpenJ9 VM to the build matrix like so:

h

[2021-05-30 10:07] chandru-kumar opened #63 "AspectJ annotations are not working in JAVA maven project (Not spring project)"
I'm trying to implement AspectJ annotations in JAVA maven project without spring. I have added Aspects and create annotation. But its not invoking the Aspects where i have added as Annotation to the method..Below is my code..

I have added aspectj maven plugin as well..But its not getting invoked..Can you pls help..? Not sure what I'm missing.
I haven't found any example without Spring project..

[2021-05-30 10:16] kriegaex commented on #63
Please ask questions about how to use AspectJ on StackOverflow, adding an `aspectj` tag. I or someone else will find them there. GitHub issues are not for user support but for AspectJ bugs or feature requests. Please delete or close this question. Thank you.

P.S.: Your code formatting is incorrect. For multi-line code blocks, you use 3x backtick, see [formatting help, section "examples", click on

[2021-05-30 10:47] #63 closed, assigned to nobody

[2021-06-07 23:36] #47 closed, assigned to nobody

[2021-06-07 23:46] aclement commented on #43
This is probably redundant now but:

- the bcel jar was there because sometimes when debugging it was useful to run the verifier over created code to verify the correctness. The kind of messages it produced could be more friendly than just a crash. However, I haven't used it in a few years.

- the aspectj121.jar was there to test compatibility. For anyone using the latest AspectJ there are various

[2021-06-08 02:49] kriegaex commented on #43
Thanks for looking into it, this is helpful. The information is not redundant at all, because I did not touch those files, waiting for your feedback.

[2021-06-08 22:04] vladimir-mhl opened #68 "JaCoCo 0.8.4 and Java 11 Agent Conflict"
This is copy of https://bugs.eclipse.org/bugs/show_bug.cgi?id=549438

[code]

[code]

[code]

from myself it is reproducible on
- openjdk 11
- jacoco 0.8.4 (and later)
- aspectj 1.9.6 (also tried 1.9.7 milestones)

this issue is pretty well described (with sample project) in https://github.com/jacoco/jacoco/issues/909
see comment https://github.com/jacoco/jacoco/issues/909#issuecomment-513409050

[2021-06-08 23:59] kriegaex commented on #68
I read that before commenting in Bugzilla. There is only the same incomplete POM as here, I see no sample project. I told you in my comment, which information I need. Please read again and edit the question.

[2021-06-09 01:21] kriegaex commented on #68
I quickly added an application class + JUnit 4 test to my sample project based on your POM snippet. The build runs fine and creates a correct coverage report with JaCoco 0.8.4 on JDK 8, 11, 16. Same with JaCoCo 0.8.7. So if you want me to reproduce your problem, I need a full example project with classes, AspectJ and JaCoCo configuration.

[2021-06-09 01:58] kriegaex commented on #68
OK, I did your job for you and created a sample project:
https://github.com/kriegaex/AJ_LTWJacocoWeavingProblem_549438

Running `mvn clean test jacoco:report` on branch `master` reproduces the problem. Did you notice this message in the log (added extra line breaks)?

[code]

The dump file thing is unrelated to this issue, because Surefire has problems with correctly displaying console output crea

[2021-06-18 02:36] kriegaex opened #70 "AJC compilation with `--release` is not working"
Inherited by ECJ, the AspectJ batch compiler accepts the `--release` argument in order to compile not only to a byte code target, say Java 8, but actually to the corresponding JRE's API, ensuring that the code is actually going to run on the target platform instead of running into API compatibility issues.

Unfortunately, compiling to e.g. `--release 8` is not working as expected. I think that sin

[2021-06-18 05:16] aclement commented on #70
If it didn't work in 1.9.6 that drastically lessens the urgency for me. However, there would be no need to re-approve anything if you want to dig into it. I suspect you are right about options passing through given it works on ECJ.

Just to indicate where my level is - issues that tend to be urgent for me are the red ones on https://bugs.eclipse.org/bugs/buglist.cgi?bug_status=NEW&bug_status=ASSIG

[2021-06-18 05:26] kriegaex commented on #70
It never worked before, I guess. I just tried 1.9.4 and 1.9.6 in order to be sure.

I see, thanks.

How far are we with
  * getting me more privileges both here (GitHub, i.e. AspectJ and JDT Core repos) and on Bugzilla, so I can help with configuration, bug management, merging PRs?
  * migrating AJDT to GitHub + access rights for me?

I wish to be able to support you more in these regards, hopeful

[2021-06-19 02:17] kriegaex commented on #70
What I have found out so far is
  * `--release N` is handled as an unparsed option and added to the option string passed on to the JDT Core args parser, where it is recognised and handled correctly.
  * But henceforth, AspectJ ignores it.
  * According to [JEP-247](http://openjdk.java.net/jeps/247) and the nice explanation [here](https://stackoverflow.com/a/43103038/1082681), basically the `--rele

[2021-06-20 02:00] kriegaex commented on #70
I had a few minutes to conduct another little experiment: compiling with the regular ECJ batch compiler, packaged inside `aspectjtools` as the relocated class `org.aspectj.org.eclipse.jdt.internal.compiler.batch.Main`. In this case `--release N` works, so at least we know that the AspectJ modifications did not destroy any existing functionality, but that
  * either we are hitting [JDT bug 574181](

[2021-06-21 04:55] aclement commented on #70
As far as I can see, the option gets through just fine. Breakpoint on the `--release` handling in JDT Core `Main.java` we see it handled and the compliance value set. Subsequently in `CompilerOptions.set(Map)` we see `OPTION_Compliance`being processed and it being set into the map correctly.

My suspicions then fall on `MessageSend.resolveType()` where the actual receiver type is computed for the

[2021-06-21 23:09] aclement commented on #70
I wasn't totally happy with that train of thought when I woke up this morning. Dug around a little more. The problem is in here I would suspect: `AjBuildManager.getLibraryAccess` where you can see we create `FileSystem` objects without supplying the final parameter which would be the release. I haven't built the solution to test it, but it looks like it will be that. There is a build config option

[2021-06-21 23:52] kriegaex commented on #70
I was quite busy and did not do too much digging. At the same time, I was watching and commenting on [JDT bug 574181](https://bugs.eclipse.org/bugs/show_bug.cgi?id=574181) in order to maybe cherry-pick from the bugfix (in progress) there, so as to avoid that we indirectly run into the same problem, if for some reason we might end up on one of the execution paths not setting the compiler options co

[2021-06-22 00:30] kriegaex commented on #70
Do you think that maybe https://github.com/eclipse/org.aspectj/blob/d17189c430a7ffd1ec966759a93b3ed348766650/org.aspectj.ajdt.core/src/main/java/org/aspectj/ajdt/ajc/BuildArgParser.java#L204

is too simple and

https://github.com/eclipse/org.aspectj/blob/d17189c430a7ffd1ec966759a93b3ed348766650/org.aspectj.ajdt.core/src/main/java/org/aspectj/ajdt/ajc/BuildArgParser.java#L349

needs to handle the b

[2021-06-22 01:22] kriegaex commented on #70
OK, debugging in parallel through AJC vs. ECJ batch compilers, shows a difference in method parameter `Classpath[] paths`:

AJC:
![image](https://user-images.githubusercontent.com/1537384/122847611-3e2e9d80-d332-11eb-9620-388a4f201ead.png)

ECJ:
![image](https://user-images.githubusercontent.com/1537384/122847631-48509c00-d332-11eb-8e2a-926b03e3461b.png)

Both times, the methods is called by a met

[2021-06-22 01:34] kriegaex commented on #70
I think, this is what we need to emulate in AJC, possibly in `AjBuildConfig.computeCheckedClasspath()`:

![image](https://user-images.githubusercontent.com/1537384/122848927-b26a4080-d334-11eb-9787-94c5c80b003c.png)

https://github.com/eclipse/org.aspectj/blob/d17189c430a7ffd1ec966759a93b3ed348766650/org.aspectj.ajdt.core/src/main/java/org/aspectj/ajdt/internal/core/builder/AjBuildConfig.java#L924

[2021-06-22 03:16] kriegaex commented on #70
I noticed that member `BuildArgParser.checkedClasspaths` actually contains a `ClasspathJep247` instance, i.e. the upstream build config is created correctly, handling `--release N` as expected. I exploited that fact for a quick & dirty proof-of-concept (PoC) hack, just in order to see if the compilation result is correct. I simply added a getter for the protected member and used this ugly hack in

[2021-06-22 04:46] aclement commented on #70
some good digging there, you know this bit of the code better than me now.  Really I did the absolute bare minimum to support the Java repackaging that occurred when modules arrived in 9, so yes, anything that goes beyond the test cases we have (like testing release level) is bound to be missing.

Where you are fiddling there with the path, the options are available
[code]

just not quite sure the

[2021-06-24 22:33] aclement opened #71 "Missing guidance in release instructions"
- it doesn't tell you how to setup your sonatype creds for publishing snapshots

- I don't know how to consume where it is publishing the snapshot, what maven repo would I setup in a project to test it?

[2021-06-24 22:44] #71 closed, assigned to nobody

[2021-06-25 01:01] kriegaex commented on #71
Actually, I thought that was common knowledge or can be easily obtained from other sources, but it is good to have it in the guide, too. But why did you add the `pluginRepository` section? In order to consume AspectJ, it is not necessary. It would help to consume an AspectJ Maven Plugin snapshot, though. Was that the rationale?

[2021-06-25 01:20] kriegaex opened #72 "Re-evaluate versioning scheme"
Do we want to continue with the minor-minor versioning since 1.9.x?

How about making AspectJ follow the Java major in its minor, i.e. the next release could be AspectJ 1.17 (not even 1.17.0, only after that 1.17.1, if a maintenance release is necessary).

If we ever upgrade to 2.x whenever it is justified (not now), we could simply skip 2.0 and continue with e.g. 2.x for Java release x, the major

[2021-06-25 01:30] kriegaex commented on #70
Yes, I had noticed that.

I had not found it when looking around, which is why I used the trick to directly use the path already detected by ECJ, which not only saved me the effort to re-create and re-evaluate the same conditions ECJ already must have evaluated, but also directly gave me the classpath type needed to deal with the `ct.sym` layer instead of having to also re-create that, mimicking E

[2021-06-25 21:53] aclement commented on #71
I still seem to need it in my Spring Roo sample that I have used for many years.

[2021-06-26 01:42] kriegaex commented on #71
If you need it there, then not for AspectJ but in order to use the snapshot of a plugin outside of the AspectJ realm. If you cannot find out or are too busy to, I can help you with that, if you can give me access to your sample project. AspectJ is not a Maven plugin, therefore this setting is unnecessary. Besides, since Sonatype introduced a new snapshot URL for new group IDs a while ago, dependin

[2021-06-27 07:07] kriegaex opened #76 "Convert documentation to AsciiDoc, publish to GitHub Pages or eclipse.dev"
Why?
  * Easier to read and maintain than DocBook XML and HTML
  * GitHub automatically displays it correctly
  * More formatting and structuring options than Markdown
  * Get rid of ancient DocBook dependencies in `lib` module

How?
- [x] Use CLI tool like [Pandoc](https://pandoc.org/) for initial conversion
- [x] Manually fix the rest
- [x] Add Maven build step for Asciidoc generation
- [x] Upda

[2021-06-30 02:55] kriegaex opened #78 "Optionally search parent classes/interfaces when matching annotations"
In Java, there is no such thing as annotation inheritance
  * from interfaces to implementing classes,
  * from interface methods to implementing methods,
  * from parent class methods to overriding methods.

The only exception is inheritance from classes to subclasses, if and only if the annotation uses `@Inherited`. See also my aspect-based workaround at https://stackoverflow.com/q/42607015/1082

[2021-06-30 18:45] aclement commented on #78
The team have often thought about this. Not necessarily hard to implement but you have to consider all the code out there that may be working based on this not happening by default.

[2021-07-01 00:03] kriegaex commented on #78
Hence the "optionally" in the subject.

[2021-07-23 12:41] krzyk opened #79 "Support JDK 17"
JDK17 is already in rampdown phase 2, RC will be available in 2 weeks, no major changes are planned, only P1 and P2 bugs.

I think it would be good to start supporting it, so it won't be any delay after the JDK release, so projects can upgrade on day 1.

[2021-07-23 14:28] kriegaex commented on #79
Hello again. You could have mentioned, that we started talking about this in https://github.com/dev-aspectj/aspectj-maven-plugin/issues/22. Same question, same answer for now. Thanks for opening this issue, though. The AspectJ team will update you here, as soon as there is a development snapshot ready for test.

[2021-07-28 04:37] kriegaex commented on #79
I have a first development version running on JDK 17-EA, see [build report](https://github.com/kriegaex/org.aspectj/actions/runs/1073587712).

I also added Java-17-specific tests for the new preview feature [JEP 406: Pattern Matching for switch](https://openjdk.java.net/jeps/406). They do not pass yet with the latest Eclipse JDT Core from the BETA_JAVA17 branch, simply because the Eclipse compiler

[2021-07-28 04:40] kriegaex commented on #79
@aclement, currently I am pushing to my fork and starting builds (including 17-EA) manually, because I have not opened a PR for branch [java-17](https://github.com/kriegaex/org.aspectj/tree/java-17) yet. If you would like to take a look and start reviewing, I can create one. I make that up to you for now.

BTW, with regard to the Jikes grammar, I am always happy to get everything running after the

[2021-07-28 06:23] kriegaex commented on #79
FWIW, I just ran the Maven builds for both AspectJ and AspectJ Maven Plugin while drinking tea, deploying the snapshot artifacts on OSSRH. Please note, that you need to add snapshot repositories for both normal artifacts and plugins to your POM.

With this sample POM, you should be able to use snapshots for both AspectJ and AspectJ Maven:

[code]

I verified that using that POM, the resulting byte

[2021-07-28 12:54] kriegaex commented on #79
**Update:** I have created AspectJ Maven Plugin final release 1.13, which I wanted to do for a while already, sinced AspectJ 1.9.7 and then 1.9.8.M1 were released. So now you no longer need so many snapshot repositories in your POM, only the one for AspectJ, no longer the ones for the plugin. You can simplify your POM to:

[code]

[2021-07-28 13:38] kriegaex commented on #70
@aclement, the PR was merged, so unless you wish to revise the simple solution I implemented, we could close this issue.

[2021-07-28 21:08] #70 closed, assigned to nobody

[2021-07-28 21:08] aclement commented on #70
needs assigning to a release but I don't believe we've decided on that being 1.9.8 or not...

[2021-07-29 03:18] kriegaex commented on #70
Given the fact that is has been merged after the 1.9.7 release, just like #77, I thought it was a no-brainer to assign it to 1.9.8. Both PRs are already contained in 1.9.8.M1, too. So unless you want to create an extra milestone for 1.9.8.M1, I think 1.9.8 it is.

If however you are referring to our conversation about adjusting the AspectJ release numbers to the corresponding JDK releases, e.g. th

[2021-07-30 16:41] sbrannen opened #81 "Support AspectJ annotations as meta-annotations"
Many projects in the Java ecosystem support the use of their annotations as meta-annotations (Spring Framework, JUnit 5, etc.); however, AspectJ currently does not support the use of annotations such as `@Aspect` as a meta-annotation.

AspectJ internals such as  `org.aspectj.internal.lang.reflect.AjTypeImpl.isAspect()` use standard JDK algorithms like `java.lang.Class.getAnnotation()` to find anno

[2021-07-30 17:14] aclement commented on #81
I think we should do that. Might be slightly wider scope though because I *think* AjTypeImpl and the reflective type infrastructure is for the load-time weaving, we would want consistency with build time weaving too. So I'm just saying other avenues through the code recognizing aspects may need to recognize the meta usage.

[2021-08-03 05:13] kriegaex commented on #76
@aclement, I have been working on and off on this during the last 4 weeks. I am not done yet and have no HTML generation step for it yet, but first wanted to focus on making the documents readable and navigable directly from the GitHub repo. I would appreciate some feedback. Here are some entry points:
  * https://github.com/kriegaex/org.aspectj/blob/docs-to-asciidoc/docs/dist/doc/index.adoc \

[2021-08-04 08:41] quaff commented on #81
why not using `isAnnotationPresent` here
https://github.com/eclipse/org.aspectj/blob/67b1c353a02c335074a736ebf76a49bf24eefb19/runtime/src/main/java/org/aspectj/internal/lang/reflect/AjTypeImpl.java#L1059-L1061
 like
https://github.com/eclipse/org.aspectj/blob/67b1c353a02c335074a736ebf76a49bf24eefb19/runtime/src/main/java/org/aspectj/internal/lang/reflect/AjTypeImpl.java#L1067-L1069

[2021-08-04 09:46] sbrannen commented on #81
@quaff, `clazz.getAnnotation(annotationType) != null` is logically equivalent to `clazz.isAnnotationPresent(annotationType)`.

They both check if the annotation type is _present_ (i.e., directly present or `@Inherited`).

So switching to `isAnnotationPresent()` would simplify the current implementation, but it does not add meta-annotation support.

In order to support finding AspectJ annotations w

[2021-08-04 10:07] quaff commented on #81
@sbrannen , my point is the inconsistent code style in the same source file, not address this issue, thanks for your attention.

[2021-08-05 08:08] kriegaex opened #83 "Stabilise flaky test in Ajc1612Tests"
Test `Ajc1612Tests.testAnnotationFieldBindingOptimization_356612` comparing performance [sometimes fails](https://github.com/eclipse/org.aspectj/runs/3248846359?check_suite_focus=true#step:6:13911). The comparison is done in https://github.com/eclipse/org.aspectj/blob/cec3fc86cb886165d049ff242d7abdf7c8608e61/tests/bugs1612/pr356612/AnnoBinding.java#L12-L32

I experimented in looping 100,000 or eve

[2021-08-09 14:13] #83 closed, assigned to nobody

[2021-08-17 14:00] jcsf commented on #79
Hi, I tested this in a project with JDK 17 but the tests that use AspectJ are failing. It seems that the method calls are not being intercepted as they were previously. Any idea?

[2021-08-17 14:02] kriegaex commented on #79
I cannot extract any useful information from your message. Please provide a sample project and instructions how to build it and how to reproduce your problem.

[2021-08-30 10:15] jcsf commented on #79
Sorry for the delay reply. I can't share the code because it is confidential from my company. But imagine the following example:
[code]
This is expected to intercept the calls to Path.register(...). While in Java 8 and 11 it works perfectly, on Java 17 it isn't working.
We then have another `Aspect` that intercepts the calls to `pointCutCall()` to perform some validations.

[2021-08-30 11:04] jcsf commented on #79
I found these logs in the compiler:
[code]

[2021-08-30 11:22] kriegaex commented on #79
Please forgive me for being so blunt, but that is a lame excuse unworthy of a software developer. I did not ask for your confidential, original code, but for a minimal version of it, reproducing the problem. Please learn what an [MCVE](https://stackoverflow.com/help/mcve) is. I cannot debug what I cannot see. You want help? Please contribute by being part of the solution, not part of the problem.

[2021-08-30 14:43] jcsf commented on #79
Was able to fix the issue, by reverting all the changes that I did to support Java 17 and just upgrading the aspectj version to one compiled from your branch. Thanks for the assistance.

[2021-09-02 14:09] ksiczek opened #85 "Among multiple aspects only last one is being applied."
Hello guys,

I have a quite large code base with multiple projects being built by Gradle and `io.freefair.aspectj.post-compile-weaving` plugin together with aspectj 1.9.7. We organized our aspects as separate modules or libraries with the intention to include what you need. One use case is to have `@MonitoredMethod` marker on methods to add some monitoring, another one `@Cachable` to add caching e

[2021-09-02 16:51] kriegaex commented on #85
In AspectJ, a joinpoint can be advised by multiple advice. So if you are experiencing divergent behaviour, I would definitely like to see a reproducer, ideally an [MCVE](https://stackoverflow.com/help/mcve). Just publish it on GitHub and link to it from here, then I can take a look.

[2021-09-03 07:09] kriegaex commented on #85
I forgot to mention that for now, I think you probably rather have a configuration issue in your weaving plugin than in AspectJ, but I cannot say for sure without an example project. I also would not be surprised if, while creating the MCVE, you find out what is wrong, because this is a frequent side effect of condensing problems into MCVEs. Therefore, both of us have a chance to learn and underst

[2021-09-03 07:31] ksiczek commented on #85
Thank you @kriegaex. I have already created an MCVE but fortunately, or not, I was not able to reproduce the issue. I have also already learned that one of my aspects that is written in Java was not compiled using `ajc` but simply `javac` so it does not contain `aspectOf()` method and I do not know really how it could work at all. Anyway, I should have started with MCVE :) I will try to figure out

[2021-09-03 07:43] kriegaex commented on #85
An aspect compiled with javac could work when used in a LTW scenario or in a post-compile binary weaving step, if picked up by ajc. Changing the setup of post-compile weaving - things like inpath, aspect path - can influence the behaviour. But as I almost expected, you learned something when creating the MCVE, because it forced you to isolate the problem and inspect your settings. I am happy that

[2021-09-03 07:58] ksiczek commented on #85
This is also interesting and mysterious to me because in MCVE I forgot to compile java aspects with `ajc` and, even though they were applied to the target class, I was getting `NoSuchMethodError...aspectOf()` in runtime. The MCVE looks like
[code]
where `aspect1` and `aspect2` are plain java libraries published to local maven repo and `impl` is a Gradle with `java-application` and `io.freefair.asp

[2021-09-03 08:37] kriegaex commented on #85
No, I didn't say that. Please let us not talk about your textual description of the MCVE, as we are only wasting our time, you explaining and I speculating. I cannot debug prose, I need to see your project. With Maven, I could help you quickly, because I use it all the time for my AspectJ projects. I never use Gradle. Probably I could help there, too, but I would need to reproduce the problem firs

[2021-09-03 09:32] ksiczek commented on #85
Fair enough @kriegaex. I would appreciate it if you could have a look at https://github.com/ksiczek/org.aspectj_85 and tell me what you think about it, especially why the `NoSuchMethodError` is being thrown in that case. It does not mimic the original issue yet but it is rather simple and would help me better understand what should work, what might be a plugin issue, etc.

[2021-09-03 11:20] kriegaex commented on #85
The MCVE helps, thank you. Because you did not follow my advice to compile the aspect modules with ajc, it is not enough to put them on the `aspect` path in the Gradle post-compile plugin configuration, because on the aspect path the compiler expects finished aspects in that case. When using unfinished aspects, better put them on the `inpath` instead (or additionally, in order to document your int

[2021-09-03 20:10] ksiczek commented on #85
Thank you @kriegaex, I learned enough to analyze the issue further on my own. I will keep in mind the point regarding SO.

[2021-09-03 20:10] #85 closed, assigned to nobody

[2021-10-01 11:35] martinaldrin commented on #79
I testing Java 17 with aspectj version 1.9.8.M1 together with aspectj maven plugin 1.13 groupid dev.aspectj
I don't fully understand the error message

I have also posted the same issue here: https://github.com/mojohaus/aspectj-maven-plugin/issues/113

[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal dev.aspectj:aspectj-maven-plugin:1.1

[2021-10-01 11:47] krzyk commented on #79
@martinaldrin 1.9.8M1 doesn't support JDK 17, you need to wait for newer version

[2021-10-01 15:53] kriegaex commented on #79
@martinaldrin, don't just post here without reading what was written before. That is not helpful and just spamming the issue. Was anything unclean about the 3 comments I posted on July 28th, beginning with https://github.com/eclipse/org.aspectj/issues/79#issuecomment-888003152?

BTW, if you post code, build logs or other console output, please use code formatting. Thank you very much.

[2021-10-01 15:58] kriegaex commented on #79
To everyone: Since lately Eclipse 4.21 (still without Java 17 support out of the box!) and and and extra package for Java 17 support (on the Eclipse Marketplace) were published, I was way too busy to upgrade the developer version published on July 28th, refreshing final JDK 17 support in the compiler from ECJ. Whenever I have time to do that, I can publish a release candidate or even a final relea

[2021-10-08 09:39] kriegaex commented on #79
Release candidate [1.9.8.RC1 is available on Maven Central](https://repo1.maven.org/maven2/org/aspectj/aspectjtools/1.9.8.RC1/).

The corresponding [installer is available on AspectJ.dev](https://aspectj.dev/maven/org/aspectj/installer/1.9.8.RC1/).

Preliminary [release notes are here](https://htmlpreview.github.io/?https://github.com/eclipse/org.aspectj/blob/29b024efe4cb4db803103aa099d60b9bc85bac

[2021-10-08 16:25] #79 closed, assigned to nobody

[2021-10-09 08:58] kriegaex commented on #79
Due to the newly published release candidate, you no longer need to depend on a snapshot version and on snapshot repositories, i.e. your Maven configuration gets simpler again:

[code]

**Please note:** The Eclipse Java Compiler (ECJ) 3.2.7 supporting Java 17 now needs JDK 11+ as a build environment, because Eclipse migrated the code base to Java 11. Because the AspectJ Compiler (AJC) is an ECJ fo

[2021-10-12 09:28] kriegaex commented on #79
Another update: I released [AspectJ Maven Plugin](https://github.com/dev-aspectj/aspectj-maven-plugin) 1.13.1 which depends on `org.aspectj:aspectjtools:1.9.8.RC1` by default.

[2021-10-22 18:56] MarkFullerEB opened #94 "Special config for applying aspect to maven dependency?"
Is there any sort of special configuration that needs to happen when applying an aspect to a maven dependency?
I'm trying to add an `@Around` to `@Slf4j` library whenever I call `.info(String)` or `.error(String)`. However nothing I do will call the aspect. The signature of my aspect is the following

[code]
I have other aspects working in the project so I know its not some aspectJ library issue.

[2021-10-22 19:25] kriegaex commented on #94
This is neither a bug report nor a feature request. It is not about AspectJ as such but about AspectJ Maven Plugin, as it seems. Please ask this kind of question on stackoverflow.com and add the `aspectj` and `aspectj-maven-plugin` tags, then I will find it. Please also provide a minimal Maven project with aspect and simple Java application, if possible. I am going to answer your question there.

[2021-10-25 16:57] #94 closed, assigned to nobody

[2021-11-10 09:01] keiki61 opened #95 ""java.lang.VerifyError: Bad type on operand stack" on switch case with Java 17"
Hello,

I hope I'm in the right project as I am not that familiar of aspectj and its structure.

I do not know how the relation to eclipse JDT compiler is. There is a bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=576093 which is stopping me from upgrading to Java 17.
It's the same error. Maybe you already got the bugfix in place.
I hope to see a RC2 or final version soon which has that fixed.

[2021-11-10 10:53] kriegaex commented on #95
Thanks for the information. I can confirm this problem in AspectJ 1.9.8.RC1.

The AspectJ Compiler AJC is a regularly refreshed fork of the Eclipse Java Compiler ECJ, the latter being part of JDT Core. So this is simply an upstream error. Last time I merged the Java 17 support which was published for Eclipse 4.21 (2021-09), i.e. the current release. Therefore, it is no surprise that the same probl

[2021-11-10 12:11] kriegaex commented on #95
I just released 1.9.8.RC2, it is already on Maven Central. Try this. There should be no more verify errors when running the program from the console or from your IDE (I tried in IntelliJ IDEA, auto-importing the Maven project):

[code]

[code]

[2021-11-10 12:12] kriegaex commented on #95
@aclement, I think after merging the two PRs for JDT Core and AspectJ this issue can be closed, if there is positive feedback from @keiki85.

[2021-11-10 12:16] kriegaex commented on #79
Please also note the upstream bugfix for JDT Core (Eclipse Java Compiler) contained in 1.9.8.RC2. See https://github.com/eclipse/org.aspectj/issues/95.

[2021-11-11 09:20] keiki61 commented on #95
Thank you very much for the fast reponse.

The bug was fixed with the update to RC2.

Best regards

[2021-11-15 10:20] urferr opened #97 "ajc ant task dos not support JDK16 and JDK17"
The class org.aspectj.tools.ant.taskdefs.AjcTask contains the 2 static attributes TARGET_INPUTS and SOURCE_INPUTS containing the known JDK version strings. Unfortunately these 2 variables have not been upgraded in aspectj 1.9.7 and not in the current 1.9.8.RC2 with the result that JDK 16 and JDK 17 both are not supported when using the ant task to compile an aspect.

Because we need a gradle plugi

[2021-11-15 10:39] kriegaex commented on #97
I have never used Ant for building AspectJ projects myself, being a Maven guy. Would you please be so kind as to attach a minimal test project which I can use in order to reproduce the issue? That would speed up things. Thank you.

**Update:** Are you talking about this part? https://github.com/eclipse/org.aspectj/blob/67b1c353a02c335074a736ebf76a49bf24eefb19/taskdefs/src/main/java/org/aspectj/too

[2021-11-15 11:00] urferr commented on #97
Adding a test project will be hard because the gradle plugin we use is an internal one and you have no access to it.

Yes, i mean these 3 lines, everywhere "16", "17" is missing and thefore only source/targetCompatibility up to JDK 15 is supported. When i now define JDK 16 or 17 as compatibility version it takes the internal default one which i guest is JDK 1.4 and then the compiler fails whaen an

[2021-11-15 11:25] kriegaex commented on #97
I do not need your Gradle project. I was thinking about the AspectJ project you are indirectly building with it, using the AspectJ Ant task. Just an [MCVE](https://stackoverflow.com/help/mcve) version of it to reproduce the error and verify the bugfix, not your original project.

[2021-11-15 11:46] kriegaex commented on #97
I quickly fixed the static lists of strings and deployed a snapshot to the Sonatype OSSRH snapshot repository. Please temporarily configure your project to use AspectJ 1.9.8-SNAPSHOT and add the equivalent of this Maven setting to your Gradle build:

[code]

Then you can test by yourself and I do not need the MCVE project from you.

[2021-11-15 12:22] urferr commented on #97
[AspectjBug.zip](https://github.com/eclipse/org.aspectj/files/7538601/AspectjBug.zip)

This attachment contains a simple project to reproduce the problem. Currently the source and target version in the build-xml ant script are set to 17 and if you run the build target "compile" you get an error. The same error happens if you change source and target version to "16".
Everything build fine if you ch

[2021-11-15 12:35] kriegaex commented on #97
I can confirm that after downloading the snapshots and copying them into your `lib` directory, it works:

[code]

The class file major versions also prove that the compiled class files are really Java 17 files.

I hope you can live with the snapshot version until the next release candidate or final release.

[2021-11-15 17:54] #97 closed, assigned to nobody

[2021-11-23 00:57] rebarbora-mckvak opened #105 "1.9.7 fails to add an annotation with a required attribute (works on 1.8.1)"
I have a following annotations and aspect in a library (already compiled):

[code]
[code]
[code]

Then I compile a source of a class in the main program (using the aspect and annotations from the library):

[code]

This works using aspectj 1.8.1, but fails on 1.9.7 with the error *The annotation @BarAnnotation must define the attribute value*. Both versions of ajc do the following:

1. @BarAnnotat

[2021-11-23 08:36] kriegaex commented on #105
I cannot reproduce the problem. I compiled and ran with AspectJ 1.8.1, 1.9.7, 1.9.8.RC2, using `dev.aspectj:aspectj-maven-plugin:1.13.1`, using Java 1.8 compliance level. Can you please explain in more detail how you compiled that code?

BTW, in this comment

[code]

you probably mean `name =`, rather than `value =`, do you not?

[2021-11-23 11:13] rebarbora-mckvak commented on #105
I added a test to github:

[code]
It fails using both JDK 8 and JDK 11. If you use 1.8.1 with JDK 8 (JDK 11 is probably not supported by 1.8.1), it works:

[code]

[2021-11-23 12:31] kriegaex commented on #105
Oh, I see. It does not happen if all classes are in the same module, but only if you have a multi-module situation with binary weaving, using a separate aspect library.

I found out that it works until 1.9.4 and started breaking in 1.9.5.

[2021-11-23 13:48] rebarbora-mckvak commented on #105
The difference is in ASTNode.resolveAnnotations:

1.8.1:

[code]

1.9.7:

[code]
The older version does not call annotation.resolveType() - which in turn checks attributes and fails.

[2021-11-23 13:59] kriegaex commented on #105
@aclement, can you please comment on the above finding and determine whether it is a bug and ought to be reverted or not? That old merge conflict in the comment was before my time as an AspectJ contributor, and so was AspectJ 1.9.5.

[2021-11-23 14:04] kriegaex commented on #105
~~@rebarbora-mckvak, I analysed your Maven module setup and found that `FooAnnotation` is defined in the aspect library, but used in the program module. That means, you explicitly reference something from a library your main application ideally should be oblivious of in your code. While that is not forbidden technically, I had the idea to create a separate module containing `FooAnnotation`, which

[2021-11-23 14:43] kriegaex commented on #105
Well, but the behaviour changed between 1.9.4 and 1.9.5, and `ASTNode` did not change in that release cycle, as you can see in the [V1_9_4...V1_9_5 diff](https://github.com/eclipse/org.aspectj/compare/V1_9_4...V1_9_5). Therefore, the root cause must be something different.

[2021-11-23 17:17] rebarbora-mckvak commented on #105
@kriegaex, it does not work. The only reason why it works for you is because you added default value to that attribute.

[2021-11-23 17:27] kriegaex commented on #105
Yes, you are right. I accidentally forgot to revert a temporary change and thought that restructuring the modules would solve the problem. I apologise for making a false statement.

So the only current workaround is to use AspectJ 1.9.4 or older.

[2021-11-23 17:35] rebarbora-mckvak commented on #105
That is al right, I will try to look at 1.9.4 and compare it with the latest version.

[2021-11-23 18:06] kriegaex commented on #105
Oh, OK, now I see that the source code you pasted above was not actually from AspectJ itself but from the JDT Core fork used as a dependency of AspectJ. You did not mention that, so I searched through the wrong project's diff. That one of course has changed before the 1.9.5 release. More precisely, before 1.9.7 the modified JDT Core used to be committed as binary JAR and source ZIP archives right

[2021-11-23 18:39] rebarbora-mckvak commented on #105
Yeah, I know the feeling ;-). Thanks for looking at it either way. I will try 1.9.4 for now since we target jdk 11.

[2021-11-24 09:00] kriegaex commented on #105
@aclement, please take a look at JDT Core. In class `org.eclipse.jdt.internal.compiler.ast.ASTNode`, I experimentally reverted the removal of `if (annotation.resolvedType == null)` you did for 1.9.5, but it has no effect on the test case. The same error still occurs. So this piece of code is not the problem or only part of it.

I have added a test case to the AspectJ 1.9.8 test suite, almost ident

[2021-11-26 06:21] kriegaex commented on #105
Good news: I just retested this, and now JDT Core 1.9.8.RC3 fixes the problem while 1.9.8.RC2 does not. For some reason, during my first test somehow the IDE must have missed to pick up the updated dependency version in my POM. Now I am just hoping that the change does not break any other tests. I am going to deploy a JDT Core snapshot to OSSRH first, then run a GitHub CI build against it. If (and

[2021-11-26 08:46] kriegaex commented on #97
@urferr: FYI, AspectJ 1.9.8.RC3 is available on Maven Central. It also contains the bugfix for the Ant task.

[2021-11-26 08:47] kriegaex commented on #105
AspectJ 1.9.8.RC3 is available on Maven Central. It should fix your problem, please re-test. Thank you.

[2021-11-29 17:37] kriegaex commented on #105
@rebarbora-mckvak, I would appreciate some feedback. I tried to fix this problem ASAP and do appreciate your initial pointers about the potential root cause. So let us get this off the table, shall we? 🙂

[2021-11-29 21:24] aclement commented on #105
Glad you got to the bottom of that. Annotation resolution in JDT can trip up with the way AspectJ stretches things (with features like `declare @`) - it is not uncommon to need guards like this. It is a shame we didn't have a test earlier that verified the need.

[2021-11-29 21:26] kriegaex commented on #105
Great detective work by @rebarbora-mckvak.

[2021-11-29 22:31] rebarbora-mckvak commented on #105
It seems to work correctly, I will try to compile the real project with 1.9.8.RC3 ASAP and let you know. Our aspect adds some Hibernate's caching-related annotations. One of those, @Cache has mandatory `usage` attribute and caused problems.

[2021-11-29 22:31] #105 closed, assigned to nobody

[2021-12-14 15:15] #95 closed, assigned to nobody

[2021-12-15 21:36] arturmkr commented on #79
@kriegaex , could you please tell, when is going to be stable release of 1.9.8?

[2021-12-16 03:55] kriegaex commented on #79
I recommend to use 1.9.8.RC3. For all intents and purposes, it is stable, and it is on Maven Central.

### Background information

The thing is that while I can publish releases to Maven Central (where you can also find RC3), I am not allowed to do official Eclipse releases (AspectJ being an Eclipse project and me not having been made an official committer). Project lead Andy Clement is very, very

[2021-12-21 08:13] mpern commented on #79
Any chance we can get 1.9.8 (non RC) released in the next few months?

[2022-01-05 02:48] kriegaex commented on #68
@aclement, please reopen this bug. I have reason to believe my assessment was premature and the problem still persists.

While limiting the aspect scope is necessary and should be kept in order to avoid weaving JaCoCo, JUnit and Surefire classes, like I suggested, the problems caused by that were merely covering up another problem. That problem is related to [JEP 309 (Dynamic Class-File Constants)

[2022-01-05 03:15] kriegaex commented on #68
**Update:** When running Maven with debug logging, I see (with added line breaks and comments):

[code]

I.e., the JaCoCo agent is applied first and then the AspectJ weaver needs to deal with JaCoCo-instrumented byte code, whereas it should be the other way around: JaCoCo should create a coverage report for AspectJ-enhanced classes. So I added [commit 487552b8](https://github.com/kriegaex/AJ_LTWJa

[2022-01-05 05:52] aclement commented on #68
It's still open isn't it?

AspectJ, in places, recognizes (relies upon even...) patterns of how compilers (javac/jdt) produce bytecode for given constructs - if 'something else' modifies bytecode even if in a perfectly valid way it can trip up a part of AspectJ that has never seen that arrangement of code before. It is indeed an AspectJ bug when this happens.

[2022-01-05 06:10] kriegaex commented on #68
![Screenshot_20220105-130714_Chrome](https://user-images.githubusercontent.com/1537384/148168753-23607a68-aee9-4db6-a588-d0550eb3f8ae.jpg)

Yes, of course. I misinterpreted the above as being related to this issue instead of merely mentioning the other one.

[2022-01-05 10:59] kriegaex commented on #68
@aclement, I created a branch [`dump-class-files`](https://github.com/kriegaex/AJ_LTWJacocoWeavingProblem_549438/tree/dump-class-files) which configures Maven and `aop.xml` to dump class files during the weaving process. I also reversed the agent order again in order to apply JaCoCo transformations first, making the AspectJ weaver fail.

Therefore, when running `mvn clean test` on that Git branch,

[2022-01-07 06:01] aclement commented on #68
I guess that project is missing some repositories that you have locally configured or something:

[code]

[2022-01-07 06:02] aclement commented on #68
I switched it to M5 instead.

[2022-01-07 06:20] #68 closed, assigned to nobody

[2022-01-07 06:35] kriegaex commented on #68
Ah yes, of course. Well, in M5 there is a bug which makes the console output of Java agents hang. Lucky you, if with M5 that did not happen. Actually, you can also build with a previous release 2.2.x, but then you do not see the agent output on the console, only in a dump file. I helped the Surefire people fix that by testing and providing reproducer projects.

[2022-01-07 06:38] kriegaex commented on #68
Thanks for the fix in 92779d08. If I have an idea how to do that, I can add a test for it. @aclement, should I simply build 1.9.8 (or should we call it 1.9.17?) soon and publish it on Maven Central, or is there anything you need to do with regard to the Eclipse website etc.?

[2022-01-07 20:43] aclement commented on #68
I see no reason to delay on 1.9.8 if you are happy. I do the website updates after it is available.

[2022-01-07 20:45] aclement commented on #68
Given that I don't know of a java language construct that would cause the compiler to generate bytecode containing `Dynamic`, you'll have to construct the bytecode yourself if you want to write a test (at least a test that isn't bringing in jacoco and getting all complicated). Certainly doable, but a bunch of work. The need for a test seems less urgent given this is such a silly mistake and that s

[2022-01-08 09:15] kriegaex commented on #68
@aclement, I modified code by @raphw found in [this blog post](https://mydailyjava.blogspot.com/2018/08/hands-on-constantdynamic-class-file.html), ASM-ified it, stored the generator code beside the actual test classes, but also committed a JAR containing the generated class file, similar to how it was done for the [indy (invokedynamic) tests](https://github.com/eclipse/org.aspectj/tree/master/test

[2022-01-10 16:20] aclement commented on #68
Nice test case and nice work on the original maven repro sample, made my life much easier.

[2022-01-14 05:51] kriegaex commented on #9
Because the commits were directly on master and do not come from PR #37, let me mention for reference that @aclement added these changes: https://github.com/eclipse/org.aspectj/compare/1b3cead1715c...3227aad604f0 which are probably going to superseed the PR and eventuall close this issue. Andy was also so kind to add basic tests. 😊

[2022-01-14 05:56] kriegaex commented on #9
**To do:** Mention the new options in the 1.9.8 release notes and wherever else it might make sense to integrate them into existing documentation.

[2022-01-14 19:34] aclement commented on #9
I think yes to release notes, obviously, but also it needs its own post on the mailing list to raise awareness for anyone that wants to try this out and see if it helps them. I'm not sure where else we could publicize it - [my AspectJ blog](http://andrewclement.blogspot.com) is rather long in the tooth now.

[2022-01-18 00:19] aclement opened #115 "Annotation style syntax not behaving like docs describe for if()"
Here https://www.eclipse.org/aspectj/doc/released/adk15notebook/ataspectj-pcadvice.html it says

[code]

But you can't, it won't compile. It looks like the validator for annotation style was not finished to cover the special cases

[2022-01-18 01:48] #115 closed, assigned to nobody

[2022-01-18 03:10] kriegaex commented on #115
Cool! I noticed that before a while ago, but forgot to inquire about it or mention it.

[2022-01-18 03:11] kriegaex commented on #9
@aclement: Release notes done, see #116.

[2022-01-18 03:47] kriegaex opened #117 "Enable LTW in JDK 16+ without `--add-opens`"
Since 1.9.7, the AspectJ release notes say:

@aclement, do you have any ideas how to solve this?

See also:
  * https://bugs.eclipse.org/bugs/show_bug.cgi?id=546305
  * https://bugs.openjdk.java.net/browse/JDK-8200559

Maybe taking a look at how other tools like Byte Buddy or Javassist try to define classes in other class-loaders can be helpful, e.g. https://github.com/jboss-javassist/javassist/bl

[2022-01-18 05:44] aclement commented on #117
nope.

[2022-01-21 05:07] kriegaex opened #118 "Compilation in multi-module mode (--module-source-path) not working"
Using the `--module-source-path` compiler switch always results in AJC core dumps like [ajcore.20220121.082827.213.txt](https://github.com/eclipse/org.aspectj/files/7910087/ajcore.20220121.082827.213.txt):

[code]

When testing the latest [ECJ 3.28.0 stand-alone](https://search.maven.org/artifact/org.eclipse.jdt/ecj/3.28.0/jar) in comparison with Javac, I also found out that
  * ECJ supports multi

[2022-01-21 06:33] kriegaex commented on #118
Another thing is that AJC has the very comfortable `-sourceroots` option, but no counterpart for (multi) modules, such as  `-modulesourceroots` or `--module-source-roots`. It would be great for users to have an option which unburdens them from having to specify each single file to be compiled, but let the compiler find the files, just like we do it for normal source directories.

See #119.

[2022-01-21 17:29] aclement commented on #118
I think I'd make it separate unless you found codepaths overlapping and could fix the latter whilst doing the former. I still haven't met a person who uses java modules, but I guess they do exist :)

[2022-01-22 00:41] kriegaex opened #119 "Implement '-m, --module' options from Javac"
AJC has the very comfortable `-sourceroots` option, but no counterpart for (multi) modules, such as  `-modulesourceroots` or `--module-source-roots`. It would be great for users to have an option which unburdens them from having to specify each single file to be compiled, but let the compiler find the files, just like we do it for normal source directories.

Actually, Javac has this option:

[code

[2022-01-22 04:54] kriegaex commented on #118
If anyone needs something to play with, here is an [example project ZIP](https://github.com/eclipse/org.aspectj/files/7917658/SO_AJ_ModuleSourcePath_70769899.zip) with two modules, both using AspectJ annotation-based aspects in *.java files (not *.aj). This enables the modules to also be compiled with Javac or ECJ, even though in those cases of course no aspects are woven and the example just runs

[2022-01-22 04:56] kriegaex commented on #119
See https://github.com/eclipse/org.aspectj/issues/118#issuecomment-1019051812 and the linked ZIP archive, if you need an example project with two modules to play with.

[2022-01-28 05:56] aclement opened #120 "address annotation style if() pointcut binding restrictions that don't affect code style"
annotation style binding is not great when `if()` pointcuts are involved. There is a compiler limitation that requires reference pointcuts to always bind variables that are used in `if()` pointcut support methods. This does not work:

[code]

You are forced to bind o in the method `beforeAdvice()` - code style does not have this restriction. Compiling the above will give something like:
[code]

[2022-01-31 23:11] aclement opened #122 "negating an if() with annotation style doesn't work"
Quite surprised by this. This aspect works as expected:

[code]

Inverting the if() return value and switching it to !bar():
[code]
and it doesn't work any more.

[2022-01-31 23:49] #120 closed, assigned to nobody

[2022-01-31 23:50] #122 closed, assigned to nobody

[2022-02-11 02:17] kriegaex commented on #79
Release 1.9.8 is out, see also #121 and the [release announcement](https://www.eclipse.org/lists/aspectj-users/msg15534.html) I sent to the AspectJ users mailing list. Quote:

[2022-02-19 04:06] rohitgaikwad09 opened #124 "Aspectj 1.9.8 is not backward compatible with JDK 8 - java.lang.UnsupportedClassVersionError: org/eclipse/core/runtime/OperationCanceledException"
Hi Team,

The backward compatibility below issue with JDK 8 occurs only with 1.9.8 version of AspectJ.

**Steps to reproduce the issue:**
**1)** Set JDK-8 and verify JDK-8 version in cmd.exe.
**2)** Download aspectjtools.jar from maven.
**2)** execute command -> `java -cp aspectjtools.jar org.aspectj.tools.ajc.Main -g -d .`

**Exception stack:**
`D:\new-1.9.8\lib>java -cp aspectjtools.jar org.aspe

[2022-02-19 04:39] kriegaex commented on #124
Please refer to the [AspectJ 1.9.8 release notes](https://htmlpreview.github.io/?https://github.com/kriegaex/org.aspectj/blob/4b9d86acd096e5ee9e108ff0a450c420c880b6ea/docs/dist/doc/README-198.html), section "Other changes and bug fixes":

Having said that, please understand that in order to run your compiled AspectJ application, you simply need `aspectjrt` on the classpath, not `aspectjtools`. The

[2022-02-19 11:08] raimondas67 opened #125 "AJC throws NPE when number of classpath entries is over the limit"
1. Java 11 (AdoptOpenJDK jdk-11.0.10.9-hotspot)
2. aspectj-maven-plugin v1.14
3. aspectjtools v1.9.7
4. pom.xml snippet
<plugin>
   <groupId>org.codehaus.mojo</groupId>
   <artifactId>aspectj-maven-plugin</artifactId>
   <version>1.14</version>
   <configuration>
      <complianceLevel>11</complianceLevel>
      <source>11</source>
      <target>11</target>
      <showWeaveInfo>true</showWeaveInfo

[2022-02-22 02:47] aclement commented on #125
The fix here seems relatively straightforward I suspect. The Java Module support added in Java9 probably added new routes that are attempting to access the zipFile object. We should look at those routes and check if they are guarded by a call to `ensureOpen()` - if they are not then it should be added.  Basically all attempts to access that zipFile field need to be guarded in case it has been clos

[2022-02-23 08:35] kriegaex commented on #125
I have done quick local fix, adding `ensureOpen()` to several routes where theoretically there could be access to a closed jar/zip file. This fixes the problem for me in the test scenario I described on the mailing list, i.e. compilation of a simple class with `-Dorg.aspectj.weaver.openarchives=20`, which would otherwise always fail of the (too) small number of open archives. I am going to analyse

[2022-02-23 09:22] kriegaex commented on #125
@raimondas67, I deployed an AspectJ `1.9.9-SNAPSHOT` to Sonatype OSSRH. Please test if your problem goes away without `-Dorg.aspectj.weaver.openarchives=2000` and maybe even try to stress-test the situation more by setting a lower limit. I know, it is probably going to make compilation slower, but try to experiment first without the setting (defaults to 1000), then with 500, 250, 100 or even 50, i

[2022-02-23 15:04] kriegaex commented on #125
@aclement, I inspected the existing logic and think it is safe to continue using the list instead of a set, mainly because it is more predictable and chronological which classpath JARs get closed on cache exhaustion (first in, first out). We would have to use a sorted set or map with a sortable timestamp or so as the key, which would entail more changes than I want to implement now. But I think I

[2022-02-24 01:49] kriegaex commented on #125
For the record: In addition to the regression test I added, which always runs with `-Dorg.aspectj.weaver.openarchives=20`, I also pushed a private branch with [commit eab7758](https://github.com/kriegaex/org.aspectj/commit/eab77587e6916bd994f1b56beb2736583aefa838?diff=unified), resulting in the full build with hundreds of tests doing AJC compilation also with `-Dorg.aspectj.weaver.openarchives=20`

[2022-02-24 08:43] raimondas67 commented on #125
Hi,

Classpath related NPE exception is fixed with this 1.9.9-SNAPSHOT release, however, I’m still getting the same AJC compiler error

[ERROR] Failed to execute goal org.codehaus.mojo:aspectj-maven-plugin:1.14.0:compile (default) on project xxx-app: AJC compiler errors:
[ERROR] error at (no source information available)
[ERROR] C:\Users\....aj:0::0 Type java.lang.Object is indirectly referenced f

[2022-02-24 09:48] kriegaex commented on #125
@raimondas67, please try not to use full quotes. You could also edit the issue description, using code blocks for better formatting.

Thanks for the feedback, good news. 🙂

Yes, of course. I did not fix it, having too little information to reproduce it. I never thought that the two issues were related anyway, which is why I already asked you twice to create an extra issue with more information for

[2022-02-25 06:34] walt2021 opened #128 "Two Aspect Class,two around,get emptystack error"
_Edited by @kriegaex_

When i use the code , i get the error（aspectj is 1.9.6）
[code]

However，i use 1.9.1，it is ok
I need help,thank you.

[code]

[code]

[2022-02-25 07:06] kriegaex commented on #128
Please reformat your question, using code blocks correctly. It is hard to read your code without copying it into an editor. Please also do not post pseudo code. What you posted would not compile (e.g. lower-case annotation names). Post complete classes with package names and imports, then others can at least try to reproduce your problem. If you want to learn how to ask good questions (not just he

[2022-02-25 09:20] walt2021 commented on #128
_Edited by @kriegaex_

Thank you very much

I use an android project which use aspectj1.9.6

When i call method testMethod(), i get the error：

[code]

This is my demo
[code]

[code]

[code]

[code]

[code]

[2022-02-25 13:42] kriegaex commented on #128
### Preface

Seriously? I asked you to **edit** your question and add more information, not to post more pseudo code in bogus, unreadable formatting. Sorry for lecturing you, but if you cannot even do that, I have low motivation to read your code and error log, because it simply hurts my eyes. Am I asking too much for you to click on the formatting icons on the top of the input field or learn mark

[2022-02-25 14:00] kriegaex commented on #128
@aclement, this made me think about what has changed between then and now. 1.9.1 was published in April 2018, 1.9.6 in July 2020. Other than you mavenising the project and moving the class to another folder, actually there was only one relevant change: https://github.com/eclipse/org.aspectj/commit/8819fad9f47fe572c45e601d7f321fe4ddf50b9e, see also [Bugzilla #333274](https://bugs.eclipse.org/bugs/s

[2022-02-25 21:28] #125 closed, assigned to nobody

[2022-02-26 02:50] kriegaex commented on #128
### Running the program under AspectJ 1.9.2

@aclement, quick update: Like @walt2021 said, this particular scenario works in 1.9.2. I added some stack trace info to the target method, so we see where it was called from:

[code]

Like I said, the following logs are all from **AspectJ 1.9.2**.

---

Proceeding exactly once from both aspects like in the example above yields:

[code]

---

Proceeding

[2022-02-26 23:38] #124 closed, assigned to nobody

[2022-03-01 10:08] walt2021 commented on #128
Thank you very much again.
I have learn much.

[2022-03-01 10:26] kriegaex commented on #128
Let me know if you agree to test a snapshot version with the bugfix for your situation  and provide feedback, testing on Android. I can publish it on the Sonatype OSSRH snapshot Maven repository later today when I have some spare time.

[2022-03-18 19:27] mebigfatguy opened #139 "Seems odd you would drop jdk 8 support in an *.*.* release"
too late i guess, but a major upgrade number probably was the thing to do.

[2022-03-18 19:28] #139 closed, assigned to nobody

[2022-03-18 19:33] aclement commented on #139
Hi, yeah. There are challenges with making a release, and rev'ing the early digits kick off much more elaborate process that sometimes we just don't have cycles to do. So we could either put off a release because of that process, or do it like this and at least get something out. I know it's not ideal. Major releases of 1.X in parallel with Java were easier to deal with when Java was releasing slo

[2022-03-19 05:33] kriegaex commented on #139
@mebigfatguy, I feel your pain. Andy and I had long discussions several times, because after I started contributing to AspectJ I urged him to switch to a versioning scheme AspectJ used to have before, i.e. the "x" in "1.x" would reflect the corresponding Java release. The last time we used that was with AspectJ 1.9.0 and Java 9. After that, only minor-minors were incremented because of the Eclipse

[2022-03-19 06:28] kriegaex commented on #139
@mebigfatguy: In order to make something good from your inquiry, I added an [AspectJ Java version compatibility](https://github.com/eclipse/org.aspectj/blob/master/docs/dist/doc/JavaVersionCompatibility.md) overview page to our documentation, also linking to it from the main GitHub read-me. I hope you like it.

[2022-03-21 03:13] kriegaex commented on #139
I just noticed that we even have had issue #72 for this topic. I created it last year. So you see that we are aware of this being a suboptimal situation.

[2022-03-21 03:21] kriegaex commented on #26
Sorry to let this one rot for so long. I am just cleaning up issues here a bit and noticed this one. Is this still relevant with 1.9.8? If so, please provide an [MCVE](https://stackoverflow.com/help/mcve), so we can reproduce and look into it.

[2022-03-23 07:48] kriegaex opened #141 "Make asynchronous proceed work for non-child threads in annotation-style aspects"
This is work related to, but out of scope of bug #128 and PR #132. See https://github.com/eclipse/org.aspectj/pull/132#issuecomment-1054114608 and subsequent comments for details.

The same scenario works for native-syntax aspects, but not for @AspectJ-style ones. See the currently deactivated test `Bugs199Tests.testAsyncProceedNestedAroundAdviceThreadPool_gh128`, which simply needs to be un-ignor

[2022-03-23 08:39] #128 closed, assigned to nobody

[2022-03-24 16:37] abelom opened #142 "LTW verbose to print summary"
We are using LTW on a large codebase and even with verbose output we get about two minutes of silence on start-up between last aspectj info message and start of our user space output

It would be nice for AspectJ agent to print some message with timestamp at the end of LTW. Maybe total number of classes weaved and total time spend?

[2022-03-24 18:45] aclement commented on #142
It is hard to know the end of LTW as we don't know when you have finished loading classes.

But there is something you can use that periodically can print matching info:
http://andrewclement.blogspot.com/2009/11/aspectj-profiling-pointcut-matching.html

It doesn't quite print number of classes but does present time spent matching point cuts against join points - messages could be extended with typ

[2022-03-24 19:08] abelom commented on #142
Can I access stats from user code? org.aspectj.Stats.getTotalCount() org.aspectj.Stats.getTotalTime() ?

[2022-03-24 19:15] abelom opened #143 "Incremental compilation between two invocations"
At the moment AJC incremental compilation means "incremental re-compilation within same JVM process" but for the huge codebase  at my day job we need "incremental compilation between two different gradle invocations"

https://www.eclipse.org/lists/aspectj-dev/msg03313.html

[2022-03-24 19:17] abelom commented on #143
I guess there are two ways to accomplish the result - either have AJC to persist state or have gradle daemon keep AJC instance within daemon to reuse the in-memory state at least between dev desktop reboots?

[2022-03-24 23:14] aclement commented on #143
In addition to that message you reference, some of my findings from attempting this before are [here](https://bugs.eclipse.org/bugs/show_bug.cgi?id=269554). Our state is more complex than JDTs, obviously.

[2022-03-26 04:50] kriegaex opened #144 "Java 18 support"
This mainly encompasses the 2nd review of pattern matching for switch, corresponding compiler updates and tests. After that, incorporate the new AspectJ version in AJDT for Eclipse 4.23 (2022-03).

[2022-03-26 04:51] #144 closed, assigned to kriegaex

[2022-03-26 04:58] kriegaex opened #145 "Compiler option `--add-exports` not working"
See https://github.com/mojohaus/aspectj-maven-plugin/issues/139.

AJC ignores the option, even though the upstream JDT command line parser correctly parses it. It seems as if in AJDT, we need to use the available information and configure the compiler accordingly.

Even though it is a new feature, some (if not most) users might argue that this compiler optionshould have been supported since Java 9

[2022-03-26 06:53] kriegaex commented on #145
@aclement, I need your help with this one. I am debugging my ass off, but simply am too unfamiliar with AJC internals to find out where to tweak what in order to transform the command line option to something that makes AJC actually recognise that it is unnecessary to throw errors when compilation units try to access to exported modules.

BTW, I even think the fix for this might justify an extra r

[2022-03-26 07:22] kriegaex commented on #142
I do not know those AJC options or the code dealing with them, but actually the question is interesting enough to look into it. You cannot easily access the stats, because they are stored in the private static inner class [`org.aspectj.weaver.World.TimeCollector`](https://github.com/eclipse/org.aspectj/blob/5abc2f1dce1e97b92acc5562b3c5fa32cf0abb5d/org.aspectj.matcher/src/main/java/org/aspectj/weav

[2022-03-31 07:34] #145 closed, assigned to nobody

[2022-04-01 15:00] kriegaex opened #148 "Renovate or remove AspectJ Browser"
Maybe the AspectJ Browser is or used to be a helpful tool. Never having used it myself, I am not sure if it is worth keeping it around in the AspectJ repository and documentation. If we do want to keep it, I think we have to bring it up to date first. So we need a decision here and then act according to it.

Here is a collage of what it looks like:

![image](https://user-images.githubusercontent.c

[2022-04-01 21:11] aclement commented on #148
I think it can be retired safely

[2022-04-02 01:01] kriegaex commented on #148
@aclement, can you please also explain briefly what this AJDE stuff is supposed to be? Was that only for JBuilder and can also be removed, or is it somehow used indirectly by AJDT?

[2022-04-02 02:58] #148 closed, assigned to nobody

[2022-04-02 03:05] kriegaex opened #150 "Improve CI build: create docs, use Maven cache, attach artifacts"
The GitHub CI build should be improved as follows:

- [x] Use a cache for Maven artifacts so as to speed up the build process and also shorten the build logs. Scrolling through download messages is tedious. Exclude `org.aspectj` artifacts from caching.
- [x] Add a build step creating docs, using the `create-docs` profile, which is inactive by default and only used if profile `release` is active.
-

[2022-04-02 05:37] kriegaex commented on #150
Remark: Currently, the build does not create javadocs, so they are not attached either, only sources and binaries. And of course, the extra builds step create and attach docs.

@aclement, do you think we should create javadocs with each build? I think we can still add that later. I am also thinking about future improvements such as segmenting/modularising the build into a little pipeline, simultan

[2022-04-02 05:38] #150 closed, assigned to kriegaex

[2022-04-07 16:01] KinaZhen opened #152 "findbugs-maven-plugin:3.0.5:check failed"
Redundant nullcheck of this, which is known to be non-null  :  RCN_REDUNDANT_NULLCHECK_OF_NONNULL_VALUE

aspectj weaver code :

    if ((this == null || !this.getClass().isAnnotationPresent(Configurable.class) || !AnnotationBeanConfigurerAspect.ajc$if$bb0((Configurable)this.getClass().getAnnotation(Configurable.class))) && this != null && this.getClass().isAnnotationPresent(Configurable.class) &&

[2022-04-07 16:05] kriegaex commented on #152
What are you talking about? Please explain, like this I don't even understand what you are trying to ask. And if you have a problem, where is your reproducible example?

[2022-04-08 05:17] kriegaex commented on #152
No feedback → closing issue. Feel free to comment and explain why you think this is an AspectJ issue, then we can re-open it.

By the way: If you are talking about the Spring Framework's [`AnnotationBeanConfigurerAspect`](https://github.com/spring-projects/spring-framework/blob/9adfa5e8b0f0cd65a0b14740e0a0f9832d80edcb/spring-aspects/src/main/java/org/springframework/beans/factory/aspectj/Annotatio

[2022-04-08 05:17] #152 closed, assigned to nobody

[2022-04-09 12:12] dagyu opened #153 "`NullPointerException` on `BcelWorld.java#L135`"
Hi I'm writing a Language Server for AspectJ and one of the features that I have implemented are the [codeLenses](https://code.visualstudio.com/api/language-extensions/programmatic-language-features#codelens-show-actionable-context-information-within-source-code) that I exploit to show all the weaved points by an advice and viceversa. This GIF is an example on VSCode (I also implemented tthe clien

[2022-04-10 00:50] kriegaex opened #154 "Access to original field value for `set()`"
The original enhancement request [Bugzilla #95716](https://bugs.eclipse.org/bugs/show_bug.cgi?id=95716) exists since 2005. I think it should be implemented. I needed this many times myself, and e.g. it also came up on Stack Overflow [lately](https://stackoverflow.com/a/71809818/1082681) and [last year](https://stackoverflow.com/a/66648599/1082681).

[code]

Now we want to create an aspect logging

[2022-04-10 01:55] kriegaex commented on #153
@aclement, a quick fix would be to return `""` instead of `null` here:
https://github.com/eclipse/org.aspectj/blob/ea43aa5ed8e64ad20672f38864e0d53a5e855e2a/weaver/src/main/java/org/aspectj/weaver/bcel/BcelWorld.java#L119-L125

Another easy alternative would be `determineRelKind(munger) == null ? "" : determineRelKind(munger).getName()` (or using a variable to avoid the duplicate method call) here:

[2022-04-10 02:40] #153 closed, assigned to kriegaex

[2022-04-10 02:43] kriegaex commented on #153
For now and until further feedback, I chose the cheapest fix. Actually, the other kinds, existing or imagined new ones, are not really advice types. Therefore, setting `kind` to `null` is OK, even though not super informative.

[2022-04-10 03:40] kriegaex commented on #153
@dagyu, please give it a spin with the 1.9.10-SNAPSHOT in https://oss.sonatype.org/content/repositories/snapshots and report back. Thanks.

[2022-04-10 07:55] dagyu commented on #153
If `ICrossReferenceHandler` actually isn't used I think that changing the signature of `ICrossReferenceHandler` in particular replacing `String kind` in `AdviceKind kind` could be more informative because in the `null` case I lose some information.

[2022-04-10 07:57] dagyu commented on #153
I have no permission on the webpage that you shared but I build the package from the source code and this fix is good, but if you could change the signature of `ICrossReferenceHandler.addCrossReference` and passing `AdviceKind` instead of a tring I'll be really grateful.

Thanks for the answet.

[2022-04-10 08:12] kriegaex commented on #153
Of course you have permission. It is the public Maven Central snapshot repository. If you use Maven or Gradle to build, simply add it as a snapshot repo. You can google how to do that, is is super easy. No need to build AspectJ from source, I did that for you already.

Sorry, I am not going to do a breaking change in an existing interface for you at this point. There might be other users, relying

[2022-04-10 08:17] dagyu commented on #153
Ok thank you

[2022-04-11 17:10] kriegaex commented on #153
I want to be a bit more precise about what I said before: When I talked about not having found any implementing classes for `ICrossReferenceHandler` in AspectJ or AJDT, I was trying to find out if anyone might care about something is `null` or we could introduce new `IRelationship` values for all existing `AdviceKind` values without a counterpart. But actually, all three things describe different

[2022-04-18 06:05] kriegaex opened #162 "Inner aspects of interfaces should be implicitly static"
If an interface has an inner aspect, the `static` keyword should be redundant, but AJC requires it. For example, in ADTJ interface `IXReferenceProvider` there is an inner aspect [`SafeExecution`]((https://github.com/eclipse/ajdt/blob/84bf2e81bef86218151ee2b47cd640c613c0a1b5/org.eclipse.contribution.xref.core/src/org/eclipse/contribution/xref/core/IXReferenceProvider.aj#L130)). If I remove the `sta

[2022-05-22 19:40] nguyendviet opened #168 "Cannot use AspectJ with Eclipse on MacOS"
I'm trying to add an Aspect class to my Aspect Project. I get this error:
[code]
I cannot open the *.aj files.

I've tried:

- Creating a new package -> same error.
- Adding simple Java classes and test them. They work without the *.aj files.
- Looking for answers online -> no working solution.
- Using Java 11 and Java 17.
- Uninstalling AspectJ and reinstalled it.
- Installing AspectJ using `.jar

[2022-06-04 08:39] kriegaex commented on #168
@nguyendviet, didn't we solve this problem elsewhere already? Was it on any mailing list? On Stack Overflow? In another GitHub project's issue? Please remind me. Thanks.

[2022-06-05 01:46] nguyendviet commented on #168
Hi @kriegaex , yes, you've helped me solved this problem. It's on [StackOverflow](https://stackoverflow.com/questions/72338304/cannot-create-aspect-file-in-eclipse). I'm going to close this ticket.

[2022-06-05 01:46] #168 closed, assigned to nobody

[2022-06-19 17:00] slachiewicz opened #169 "NPE in AjBuildConfig.computeCheckedClasspath"
I'm working to upgrade aspectj to latest version in https://github.com/codehaus-plexus/plexus-compiler
Unfortunately, starting from version 1.9.8 i got NPE like bellow
[code]

our code below:
https://github.com/codehaus-plexus/plexus-compiler/blob/master/plexus-compilers/plexus-compiler-aspectj/src/main/java/org/codehaus/plexus/compiler/ajc/AspectJCompiler.java#L343

[2022-06-20 15:42] kriegaex commented on #169
Hm, the last substantial commit (disregarding the latest linting commit) in that file was my own. I never looked into Plexus Compiler anymore since then, but hopefully one of these days (maybe not before next weekend) I can spare some private time to take a look. Would that be acceptable?

[2022-06-23 09:22] maginseb opened #170 "JaCoCo 0.8.8 with AspectJ"
I face the following problem when running tests that use both JaCoCo (0.8.8) and AspectJ LTW (1.9.9.1).

[code]

I found two related bugs on this topic: https://github.com/jacoco/jacoco/issues/909 and https://github.com/eclipse/org.aspectj/issues/68

https://github.com/jacoco/jacoco/issues/909 recommends a change of order for the JaCoCo and AspectJ Java agents, so that the AspectJ agent is execute

[2022-06-23 20:39] kriegaex commented on #170
Thanks for opening this issue and for the reproducer project (which I have not tried yet). I might be able to take a closer look during the weekend, but cannot promise. I think I might have spotted something which could be an oversight in an older (1.9.0) version of AspectJ, i.e. a possible bug. But I cannot say for sure yet, I only looked at some source code for 3 minutes.

[2022-06-25 08:04] kriegaex commented on #170
I have looked into the issue briefly. It seems that there is an issue in BCEL, which we use internally in AspectJ. You may want to track the issue [BCEL-362](https://issues.apache.org/jira/browse/BCEL-362), which I have just created. There is a chance that we are doing something wrong in AspectJ, but at the moment I believe that the issue is upstream.

[2022-06-25 12:07] kriegaex commented on #169
I do not know the AJDT API of AspectJ very well, but I debugged around a bit and sent you a PR in order to fix it in Plexus Compiler. The PR piggy-backs directly on top of your Dependabot PR. Merge it in there, then merge the Dependabot issue, and you should be fine. Or maybe you want to merge my PR directly into master, whatever.

[2022-06-25 14:39] #169 closed, assigned to kriegaex

[2022-06-26 11:31] maginseb commented on #170
Makes sense, the issue happens in the BCEL-stack. Thank you, I will track the issue, that you have created!

[2022-07-01 10:50] Cibor opened #171 "Binary type being null resulting in a NullPointerException"
Hi,

In our project based on Java 11 I'm getting this error during compilation

_Internal compiler error: java.lang.Exception: java.lang.IllegalStateException: Error processing configuration meta-data on com.mycomnpany.PrdbProperties at org.aspectj.org.eclipse.jdt.internal.compiler.apt.dispatch.RoundDispatcher.handleProcessor(RoundDispatcher.java:172)
[ERROR]_

I debugged the compilation and disco

[2022-07-01 12:29] kriegaex commented on #171
Thanks for the detailed error description. What would really help the most, is a reproducer. Maybe a little GitHub project, ideally Maven, but whatever helps me to reproduce this is fine.

[2022-07-01 12:56] Cibor commented on #171
For now through trial and error I discovered that it was connected with this annotation

[code]

Removing it fixed the compilation. Digging further I came accross issue [Spring Boot #4825](https://github.com/spring-projects/spring-boot/issues/4825) and found out that in my case indeed adding

[code]

to the Maven config of the aspectj-maven-plugin indeed fixed the problem.

[2022-07-01 16:44] kriegaex commented on #171
Hm, that bug was fixed 5 years ago in JDT Core (the project containing ECJ), and hence it probably was fixed in AspectJ, too, because AJC forks and regularly refreshes JDT Core. I would really need a reproducer in order to assess whether we have a problem in AspectJ or not. Your XML snippet alone does not help much, because I have no idea what you are excluding from where and what the situation is

[2022-07-14 14:30] 188 opened #174 "How do I get all the AOP classes and methods configured for my project"
Configured in a project

 @Around("execution(* *(..)) && (cflow(execution(* com.xxx.xx.service.*.*(..))))"")

The project starts with fetching all classes or methods that require AOP, all classes and methods under the Service package

For example：
com.xxx.xx.service.impl.UserService.getUser
com.xxx.xx.service.impl.UserService.listUser
......

[2022-07-14 20:01] kriegaex commented on #174
Hello. This is not a forum to ask usage questions about AspectJ, but a bug tracker. So I am closing this issue. Better ask on Stack Overflow or the AspectJ users mailing list. But please provide an [MCVE](https://stackoverflow.com/help/mcve), i.e. a complete minimal sample reproducing the problem, and ask clear questions. I have no idea what you actually want to know. Like this I would be unable t

[2022-07-14 20:01] #174 closed, assigned to kriegaex

[2022-07-20 17:40] Ashish-Pandey-Imprivata opened #175 "AspectJ Internal Error: unable to add stackmap attributes. Unsupported class file major version 61"
When trying to use AspectJ version 1.9.9 (or 1.9.9.1) with JDK 17, I am getting below error:

AspectJ Internal Error: unable to add stackmap attributes. Unsupported class file major version 61

I have seen related errors that report issue with "version 58" or "version 60" etc e.g. https://bytemeta.vip/repo/allure-framework/allure2/issues/1378, but haven't found how to resolve this JDK17 specific i

[2022-07-20 17:47] kriegaex commented on #175
Please add a link to a project reproducing the problem. Thank you. I cannot debug prose without code. My preliminary working hypothesis is that somehow am older AspectJ compiler version has crept into your build.

[2022-07-25 14:22] turbanoff opened #176 "Maven Compiler 3.10.0 creates invalid 'package-info.class' on Windows"
Recently we got confusing error from AspectJ maven plugin in our project:
[code]
It seems that AspectJ tries to resolve interfaces of `package-info` and fails to do that.
I believe AspectJ shouldn't touch package-info.

How we invoke plugin:
[code]

[2022-07-25 15:54] kriegaex commented on #176
Andrey, I am very busy. Please help me by providing an [MCVE](https://stackoverflow.com/help/mcve). These days, I do not have the cycles to prepare one by myself. Just post a link to a reproducer here on GitHub. Thank you so much.

[2022-07-26 08:43] turbanoff commented on #176
Attached minimal project. To reproduce just run `mvn clean verify`
[dxcore-temp.zip](https://github.com/eclipse/org.aspectj/files/9188154/dxcore-temp.zip)
Fails for me with
[code]

[2022-07-30 13:27] kriegaex commented on #176
Thank you, I briefly looked into this and can reproduce the problem. I am not sure yet if it is a problem is AspectJ proper or in AspectJ Maven. ~~The problem seems to be that somehow AJC thinks that `package-info` is a compilation unit, as if it would see the source file. But the `server` module depends on the `client` module in Maven, so I thought it would only see class files. That is the probl

[2022-07-30 13:42] kriegaex commented on #176
Note to myself:

The annotated package name looks OK in _javap_:

[code]

But somehow, the non-annotated package name looks weird (backslashes instead of dots) when decompiling the class file:

[code]

[2022-07-30 14:22] kriegaex commented on #176
Next finding: Javac - weirdly enough - creates a class name with backslash characters for the package info in the non-annotated case, at least under Windows (probably not on other OS platforms), i.e. the class files are platform-dependent(!!!), which I consider to be a bug in Javac:

[code]

Whereas in the annotated one, the package name in the class file uses forward slashes as expected (_javap_

[2022-07-31 08:57] kriegaex commented on #176
@turbanoff, please try `1.9.10-SNAPSHOT` from https://oss.sonatype.org/content/repositories/snapshots and report back. Thank you.

[2022-07-31 10:11] kriegaex commented on #175
@Ashish-Pandey-Imprivata, because you did not respond within 11 days after I responded the very same day you created the issue, I am closing this issue as invalid. I will consider reopening it, if you provide the MCVE I requested.

[2022-07-31 10:11] #175 closed, assigned to nobody

[2022-07-31 10:14] kriegaex commented on #171
@Cibor, because you did not respond within one full month after I responded the very same day you created the issue, I am closing this issue as invalid. I will consider reopening it, if you provide the MCVE I requested.

[2022-07-31 10:14] #171 closed, assigned to nobody

[2022-07-31 10:17] kriegaex commented on #142
@abelom, 4 months have passed. Did you try anything along the ideas I sketched here?

[2022-07-31 11:56] #176 closed, assigned to kriegaex

[2022-08-02 15:35] kriegaex commented on #176
@turbanoff, I would have appreciated some feedback, but I still have news for you: **All my debugging and the workaround in AspectJ were completely unnecessary!**

Just last night I noticed that I could not reproduce the problem with backslash characters in package-info class files when compiling directly with Javac, only with Maven Compiler. That is when I realised, it was totally unrelated to Ja

[2022-08-02 15:41] turbanoff commented on #176
Wow. Amazing investigation!
I haven't had time to validate the AspectJ fix. I agree that it's better to revert the fix from AspectJ repo.
Updating maven-compiler-plugins seems helps.

Thanks a lot :)

[2022-08-02 16:02] kriegaex commented on #176
I pushed the obsolete commit to a separate branch for reference, just in case someone wants to look at it again in the future.

[2022-08-02 16:27] michael-o commented on #176
I tripped over this as well. Is there a portable solution to this since {{-X}} isn't portable...? Willing to change the plugin for the better.

[2022-08-13 13:51] kriegaex commented on #170
@maginseb, I have some news for you:

1. As @aclement told me, AspectJ was forked off of BCEL a very long time ago (more than 15 years ago at least). Several optimisations have been added, and the code was manually upgraded to more recent JDK versions step by step. The AspectJ derivative does not resemble upstream BCEL very much anymore.
2. It is still true that BCEL 6.5.0 is partially lacking sup

[2022-08-13 21:23] #170 closed, assigned to nobody

[2022-08-15 08:10] maginseb commented on #170
@kriegaex Thank you very much for your help. I greatly appreciate your effort. I have tried both of your recommendations, they work perfectly.

In case someone else stumbles across this issue:

I have updated my example https://github.com/maginseb/jacoco-aspectj-error  It includes the recommended fixes now.

[2022-08-15 08:14] kriegaex commented on #170
I locally also tested with a modified version of your original reproducer. Thanks for that, it is always easier to fix something reproducible. Besides, I have also provided a BCEL fix both [in AspectJ](https://github.com/eclipse/org.aspectj/pull/178) and for [BCEL itself](https://github.com/apache/commons-bcel/pull/139), because independently of the solution for this particular problem, both tools

[2022-09-05 08:42] aschaich opened #180 "oss-fuzz integration"
Hi all,

we have prepared the [Initial Integration](https://github.com/CodeIntelligenceTesting/oss-fuzz/commit/df5d8c2a679839415026c44b0f2b42590f49ed8a) of aspectj into [Google OSS-Fuzz](https://github.com/google/oss-fuzz) which will provide more security for your project.

Why do you need Fuzzing?
The Code Intelligence JVM fuzzer [Jazzer](https://github.com/CodeIntelligenceTesting/jazzer) has alr

[2022-09-21 02:42] kysantt opened #183 "compile error w/ kotlinx.coroutines"
The error happens at the below code when compiling with kotlinx.coroutines.
The current aspectj compiler can't recognize the last parameter on functional interface such as kotlin.jvm.functions.Function3.
In case of  kotlin.jvm.functions.Function3, tvs.length is 4 and typeParameters.length is 3. So, error happens.
Please see the below detailed logs for more information.

[code]

error log:

[code]

[2022-09-21 04:56] alsu4r commented on #183
For simple code test, you can see the ajc compilation errors with the simple kotlin code below.

`    interface ICallerGen<in T> {
        public suspend fun call(value: T)
    }
    val fun3 = ICallerGen<Any?>::call //--> ajc build error Function3`

[2022-09-22 08:42] krzyk opened #184 "Add support for JDK 19"
Please add support for JDK 19.

Thank you very much.

[2022-09-23 07:37] kriegaex commented on #184
Please explain your use case. What in Java 19 is not working with AspectJ 1.9.9.1? Why do you need the AspectJ compiler to create Java 19 class files or the weaver to read them? Other than preview or incubating language features, there is nothing new in Java 19. Please explain, which features you are using and why. I wish to understand your impediment.

[2022-09-23 08:24] krzyk commented on #184
I have a project using dev.aspectj:aspectj-maven-plugin and I switched the project to compile for Java 19 and it fails with:
[code]

So my use case is that I want to be able to compile with 19 as the target.

My config for the plugin is:
[code]

I assumed it is the issue with aspectj part - hence reported it here.

[2022-09-23 10:26] kriegaex commented on #184
Of course I know that AspectJ does not support Java 19 yet, because the upstream Eclipse Java compiler just released its Java 19 version a few days ago. I am working and do not have lots of cycles to work on AspectJ in my spare time, but eventually I will add Java 19 support. Anyway, you did not answer my questions. Please read again and reply accordingly. Thank you. At the moment, your issue desc

[2022-09-23 11:22] krzyk commented on #184
The sole benefit is support current Java version. And yes it is a feature request.
Not sure what you want to see here - what I want to use from Java 19? I want to use the latest security fixes, new classes/methods added, test out preview features.
Java 18 has been obsoleted by 19 release so if a project wants to stay current (e.g. regarding security updates), it needs to upgrade.

[2022-09-23 11:32] kriegaex commented on #184
You can use all security fixes by compiling to compliance level 18 or lower while using JDK 19. If you want to test Java preview features, you can also do so without AspectJ for the time being.

What I wanted to find out is if you use AspectJ in any commercial environment and are somehow compelled to upgrade to the new preview language features. Obviously, you are not. You did not give any example

[2022-09-29 03:33] waynebeaton opened #185 "Apache-1.1 license obligations"
The project has some content that is under the Apache-1.1 license (see [org.aspectj.apache/bcel/Repository.java](https://github.com/eclipse/org.aspectj/blob/master/bcel-builder/src/main/java/org/aspectj/apache/bcel/Repository.java)).

According to the Apache-1.1 license:

AFAICT, this means that the license text in its entirety needs to be included in any JAR files that include Apache-1.1 content

[2022-09-29 08:44] kriegaex commented on #185
Thanks for bringing up this issue. The AspectJ project does, however, acknowledge the use of BCEL, also mentioning its licence:

https://github.com/eclipse/org.aspectj/blob/67b1c353a02c335074a736ebf76a49bf24eefb19/docs/dist/LICENSE-AspectJ.html#L41-L46

Would that satisfy your requirement, or is there still a gap?

[2022-09-29 08:57] kriegaex commented on #185
I just checked. This licence file has always been part of the AspectJ installer download until version 1.9.6 (inclusive), which you can verify by downloading and installing AspectJ from https://www.eclipse.org/aspectj/. As of 1.9.7, this is no longer true, because after some Maven-related changes, we no longer build the product in the same way. It is my own oversight that I omitted the licence fil

[2022-09-30 04:11] waynebeaton commented on #185
Thanks for your prompt attention.

I'm sorry that I missed the reference in the documentation. So that should cover that.

My interpretation of the license is that it should be in all public artifacts. Ideally, somebody obtaining a JAR file from Maven Central should get the license.

[2022-10-01 07:51] #185 closed, assigned to kriegaex

[2022-10-01 15:36] kriegaex commented on #184
I have a first Java 19 development version of AspectJ, mostly untested. I just quickly compiled an example for JEP 405: Record Patterns (Preview), which worked nicely.

At snapshot repository https://oss.sonatype.org/content/repositories/snapshots, you find version `1.9.10-SNAPSHOT` of AspectJ runtime, weaver, matcher and compiler (tools). If you use `dev.aspectj:aspectj-maven-plugin:1.13.1` and d

[2022-10-02 07:30] mdeinum commented on #184
Works for my usecase. I use loadtime weaving and compile using Java19 with preview features enabled. Although I don't use them in this part of the project. I now get the expected behavior and no more ASM errors!.

Thanks for tagging me, I was just about to write you an answer to the email (it worked compiling to Java18 as well as I don't use any preview features in this section).

[2022-10-02 08:43] kriegaex commented on #184
Thanks for your feedback, @mdeinum. I am happy it works for you.

Yes, most people should have the same use case: They want to use the latest JDK (more conservative ones maybe the latest LTS) due to security fixes, but it does not necessarily mean that they need to use the latest Java language features, especially not preview ones or even incubating ones. Of course they want to try them, but they

[2022-10-08 07:37] kriegaex commented on #184
FYI, I could in principle release a new version of AspectJ, which will be 1.9.19 (not 1.9.10) in order to sync the minor-minor (1.9.x) version to the Java release in the future for users to more easily recognise the latest supported Java version of AspectJ. 1.19 would be even nicer, but minor versions (1.x) require an Eclipse review which I do not have time for.

Anyway, what is blocking the relea

[2022-10-08 08:12] kriegaex commented on #183
I do not speak Kotlin. But I created a simple Maven project, compiled yout sample code and manually applied binary weaving to it (without an aspect, because you did not provide one). I did not experience any problems.

There are so many variables here - Java version, AspectJ version, Kotlin version, AspectJ compiler bytecode target version, aspect(s) used and many more - that I cannot say anything

[2022-10-11 08:20] mebigfatguy commented on #139
that's good.

water under  the bridge, anyway.

On Sat, Mar 19, 2022 at 2:28 AM Alexander Kriegisch <
***@***.***> wrote:

[2022-10-17 13:04] sanmibuh opened #188 "Pitest Mutators"
Hello,
Using AspectJ with pitest, I have a false positive mutator. I think it is because of the null check that inserts AspectJ. At the generated class I see:

[code]

And the report returns:

<img width="779" alt="image" src="https://user-images.githubusercontent.com/15193703/196180360-a72cbe61-63c5-4907-8e9a-37d175806238.png">

I have created this demo repo for check the issue:  https://github.c

[2022-10-17 13:07] sanmibuh commented on #188
Maybe if AspectJ adds a `Generated` named annotation in the injected code it could be fixed 🤔
https://github.com/hcoles/pitest/issues/347#issuecomment-301184718

[2022-10-17 14:33] ameti opened #189 "@DeclareAnnotation Warning"
Any idea how to remove the warning:

`<Unknown> [warning] Found @DeclareAnnotation while current release does not support it (see 'org.aspectj.weaver.bcel.AtAjAttributes')
`
I haven't used it anywhere in the code. The only lib that is using it is org.aspectj.

[2022-10-20 10:22] wurensen opened #190 "TABLESWITCH throw ArrayIndexOutOfBoundsException when the high value is Integer.MAX_VALUE"
the source code will cause ArrayIndexOutOfBoundsException if the `high` value of `tableswitch` is Integer.MAX_VALUE：

[code]
exception like this:
[code]
You can reproduce the bug if the weaved source code contain this:
[code]
I fixed it like this:
[code]

[2022-10-24 08:52] omeraha opened #191 "Parsing https://www.eclipse.org/aspectj/dtd/aspectj.dtd file fails"
Hi all,
Seems like `https://www.eclipse.org/aspectj/dtd/aspectj.dtd` has changed, and now failed to be parsed (see details [here](https://stackoverflow.com/questions/74158534/aop-is-failing-while-build-sbt-assembly))
The actual error is:
[code]

[2022-10-30 10:29] kriegaex commented on #191
The DTD has not changed. Maybe the Eclipse website or the parsing tool you use no longer support unencrypted HTTP connections. If I open the file on the browser, I see an HTTPS URL. Maybe your tool does not support redirects or something. Like others said already on Stack Overflow, try HTTPS instead of HTTP. I am closing this issue as invalid, but feel free to comment if you disagree, then I might

[2022-10-30 10:29] #191 closed, assigned to kriegaex

[2022-11-05 08:20] kriegaex commented on #183
I am closing this issue as invalid, because I could not reproduce the problem and there was no reaction to my question. Feel free to react and provide more information, then I can reopen it.

[2022-11-05 08:20] #183 closed, assigned to kriegaex

[2022-11-06 13:59] kriegaex commented on #190
@wurensen, I cannot reproduce the problem. Please provide more context information about JDK version and flavour, AspectJ version and OS platform used. Ideally, extend the example to be a full [MCVE](https://stackoverflow.com/help/mcve) including Maven build or exact compiler options. If I cannot reproduce it, I cannot fix it either.

[2022-11-10 10:01] daniel-matheis-vivavis opened #192 "Apply fix of BCEL-363 (CVE-2022-42920) to AspectJ's "own BCEL""
see BCEL issue https://issues.apache.org/jira/browse/BCEL-363
resp. https://github.com/apache/commons-bcel/pull/147

It seems that Aspectj's "own BCEL" also contains this problem.

[2022-11-10 18:45] kriegaex commented on #192
Very well possible, AspectJ's BCEL is derived from an ancient version. Which concrete problem are you running into with AspectJ? Where is a reproducer for that problem?

[2022-11-11 07:42] daniel-matheis-vivavis commented on #192
The regular user of AspectJ won't have a problem with that security issue I would say, as long as AspectJ does not try to write "too many" constant pool entries which would corrput the class file.
It is just that the contained code is (nearly) identical to the one that was fixed elsewhere and thus contains the problem described by the CVE-2022-42920  (which does not tell how to exploit that actual

[2022-11-13 10:10] kriegaex commented on #192
That was done many years before I started contributing to AspectJ. I think BCEL was used as a starting point for AspectJ-specific modifications and maybe refreshed from upstream in the olden days, but then it ended up simply being updated manually as the Java language and AspectJ evolved. Now the code bases have diverged so much that it would be a major effort (maybe at the scale of a rewrite) to

[2022-11-13 10:57] #192 closed, assigned to kriegaex

[2022-11-20 12:08] turbanoff opened #194 "LTW classloader lock prevents multi-thread usage"
Hello.
In our project we use LTW in development process. Recently we improved one of the part of our application to use multiple thread to load classes (to speed up application start). But results of parallelizing is far from idea. Threads were mostly blocked by this lock:
https://github.com/eclipse/org.aspectj/blob/063d3cc59aad88f02bc82bc6e417a828dae9ef2d/loadtime/src/main/java/org/aspectj/weaver

[2022-11-20 12:28] kriegaex commented on #194
@aclement, can you spare some cycles to take a look?

[2022-11-27 10:40] kriegaex opened #195 "APT problem: StackOverflowError in RoundDispatcher.handleProcessor"
This issue came up in https://github.com/dev-aspectj/aspectj-maven-plugin/issues/108, but it is not a problem concerning the Maven plugin. Instead, it seems to be related to annotation processing (APT) support for AJC:

There is an annotation processor on the classpath, namely `com.querydsl:querydsl-apt:5.0.0-jakarta`. It contains a file _META-INF/services/javax.annotation.processing.Processor_ wi

[2022-11-28 10:15] kriegaex commented on #195
I debugged into AJC, because unfortunately the upstream Eclipse Jave Compiler (ACJ) underneath AJC does not log a full stack trace for the stack overflow error. Here it is:

[code]

It would be interesting to see if that works in plain vanilla ECJ or is AJC-specific. I will try that next after work.

[2022-11-28 11:39] kriegaex commented on #195
Update (CC @zenbones): I quickly checked during a break, and it definitely is not an AJC problem. The same occurs when compiling the project with plain vanilla ECJ 3.31.0. And also there `-proc:none` makes the project compile, but of course in that case no code generation via APT takes place.

**Update:** Bug ticket https://github.com/eclipse-jdt/eclipse.jdt.core/issues/565 created.